Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, typecheck-incremental

lefthook.yml:

# 開発フロー重視のlefthook設定

pre-commit:
  commands:
    # 1. コードフォーマット・リント（自動修正付き）
    format-and-lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. 型チェック（変更ファイルに影響する範囲のみ）
    typecheck-incremental:
      glob: "*.{ts,tsx}"
      run: pnpm --filter @suzumina.click/shared-types typecheck
      fail_text: "型チェックに失敗しました"

pre-push:
  commands:
    # 1. 共有型のビルド確認（依存関係の整合性保証）
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"
    
    # 2. 全体の型チェック（プッシュ前の品質保証）
    typecheck-all:
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 基本テスト（shared-typesのみ - 最重要）
    test-shared-types:
      run: pnpm --filter @suzumina.click/shared-types test
      fail_text: "共有型のテストに失敗しました"

feat: complete Terraform Firestore index management integration
  docs/FIRESTORE_STRUCTURE.md
  terraform/firestore_indexes.tf
Due: none

refactor: implement comprehensive logging reduction across DLsite functions
  apps/functions/src/assets/dlsite-work-ids.json
  apps/functions/src/development/core/local-complete-collector.ts
  apps/functions/src/development/core/price-data-quality-checker.ts
  apps/functions/src/development/core/region-restriction-detector.ts
  apps/functions/src/endpoints/dlsite-individual-info-api.ts
  apps/functions/src/infrastructure/management/user-agent-manager.ts
  apps/functions/src/services/dlsite/collect-circle-creator-info.ts
  apps/functions/src/services/dlsite/dlsite-firestore.ts
  apps/functions/src/services/dlsite/individual-info-api-client.ts
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
  apps/functions/src/services/dlsite/work-id-collector.ts
  apps/functions/src/services/dlsite/work-id-validator.ts
  apps/functions/src/services/price-history/price-history-saver.ts
Due: format-and-lint, typecheck-incremental

docs: update DLSITE_API_ANALYSIS for language_editions format variations
  docs/DLSITE_API_ANALYSIS.md
Due: none

fix: build shared-types before typecheck in CI workflow
  .github/workflows/dependency-update-check.yml
Due: none

fix: improve error logging for Individual Info API client
  apps/functions/src/assets/dlsite-work-ids.json
  apps/functions/src/services/dlsite/individual-info-api-client.ts
Due: format-and-lint, typecheck-incremental

chore: remove unused supplement tool
  apps/functions/package.json
  apps/functions/src/development/core/local-supplement-collector.ts
  apps/functions/src/development/run-tools.ts
Due: format-and-lint, typecheck-incremental

refactor: remove supplement tool related code from failure-tracker
  apps/functions/src/services/dlsite/__tests__/failure-tracker.test.ts
  apps/functions/src/services/dlsite/failure-tracker.ts
Due: format-and-lint, typecheck-incremental

docs: update migration plan to simplify process without compatibility layer
  apps/functions/package.json
  apps/functions/src/development/cleanup-legacy-fields.ts
  docs/ENTITY_VALUE_OBJECT_MIGRATION_PLAN.md
Due: format-and-lint, typecheck-incremental

feat: incorporate PR review feedback and complete wishlistCount removal
  apps/functions/src/services/domain/__tests__/data-aggregation-service.test.ts
  apps/functions/src/services/domain/__tests__/work-classification-service.test.ts
  apps/functions/src/services/domain/work-classification-service.ts
  apps/functions/src/services/mappers/work-mapper.ts
  apps/web/src/app/circles/[circleId]/__tests__/actions.test.ts
  apps/web/src/app/circles/[circleId]/__tests__/page.test.tsx
  apps/web/src/app/creators/[creatorId]/__tests__/actions.test.ts
  apps/web/src/app/creators/[creatorId]/__tests__/page.test.tsx
  docs/ENTITY_VALUE_OBJECT_MIGRATION_PLAN.md
  docs/UBIQUITOUS_LANGUAGE.md
  packages/shared-types/src/entities/__tests__/work.test.ts
  packages/shared-types/src/entities/work.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/value-objects/date-range.ts
  packages/shared-types/src/value-objects/price.ts
  packages/shared-types/src/value-objects/rating.ts
Due: format-and-lint, typecheck-incremental

docs: Entity/Value Object移行計画をPhase 3完了状態に更新
  docs/ENTITY_VALUE_OBJECT_MIGRATION_PLAN.md
Due: none

docs: Phase 4（監視とフォローアップ）の実施結果を記録
  docs/ENTITY_VALUE_OBJECT_MIGRATION_PLAN.md
Due: none

docs: complete Entity/Value Object migration documentation (Phase 5) ✅
  docs/DEVELOPMENT.md
  docs/FIRESTORE_STRUCTURE.md
  docs/archive/2025-07-entity-value-object-migration/ENTITY_VALUE_OBJECT_ARCHITECTURE.md
  docs/archive/2025-07-entity-value-object-migration/ENTITY_VALUE_OBJECT_MIGRATION_PLAN.md
  docs/archive/2025-07-entity-value-object-migration/README.md
Due: none

docs: archive Entity/Value Object migration documents
  docs/ENTITY_VALUE_OBJECT_ARCHITECTURE.md
  docs/ENTITY_VALUE_OBJECT_MIGRATION_PLAN.md
  docs/archive/2025-07-entity-value-object-migration/ENTITY_VALUE_OBJECT_ARCHITECTURE.md
  docs/archive/2025-07-entity-value-object-migration/ENTITY_VALUE_OBJECT_MIGRATION_PLAN.md
  docs/archive/README.md
Due: none

chore(deps): update dependencies
  apps/admin/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: format-and-lint

chore(deps): update dependencies
  pnpm-lock.yaml
Due: none

fix: resolve typecheck error in ContactForm
  apps/web/src/app/contact/components/ContactForm.tsx
Due: format-and-lint, typecheck-incremental

docs: add comprehensive domain model documentation
  docs/DOMAIN_MODEL.md
  docs/DOMAIN_OBJECT_CATALOG.md
Due: none

docs: add domain model documentation maintenance requirements to CLAUDE.md
  CLAUDE.md
Due: none

docs: update archived Entity/Value Object architecture document to reflect completion
  docs/archive/2025-07-entity-value-object-migration/ENTITY_VALUE_OBJECT_ARCHITECTURE.md
Due: none

docs: add Entity/Value Object expansion plan and naming convention migration guide
  docs/ENTITY_VALUE_OBJECT_EXPANSION_PLAN.md
  docs/NAMING_CONVENTION_MIGRATION_GUIDE.md
Due: none

docs: add detailed PR breakdown plan for Entity/Value Object expansion
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: none

feat(shared-types): implement type aliasing system for cleaner naming conventions
  docs/PR_01_TYPE_ALIASES.md
  packages/shared-types/src/aliases/__tests__/aliases.test.ts
  packages/shared-types/src/aliases/index.ts
  packages/shared-types/src/index.ts
Due: format-and-lint, typecheck-incremental

feat: Claude Code GitHub統合の設定
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/claude-code.yml
  .github/workflows/claude-pr-review.yml
  docs/CLAUDE_CODE_GITHUB_SETUP.md
  scripts/setup-github-project.sh
Due: none

fix: Remove unused ANTHROPIC_API_KEY reference to resolve security warning
  .github/workflows/claude-pr-review.yml
  docs/CLAUDE_CODE_GITHUB_SETUP.md
Due: none

fix: Remove unnecessary contents:write permission
  .github/workflows/claude-code.yml
  .github/workflows/claude-pr-review.yml
Due: none

chore: Update to Node.js 20 in GitHub Actions
  .github/workflows/claude-code.yml
  .github/workflows/claude-pr-review.yml
Due: none

security: Remove checkout step from issue_comment workflows
  .github/workflows/claude-code.yml
  .github/workflows/claude-pr-review.yml
Due: none

feat: Add improved Claude PR assistant workflow
  .github/workflows/claude-pr-assistant.yml
  docs/CLAUDE_GITHUB_INTEGRATION_STATUS.md
Due: none

docs: Add testing guide explaining why @claude mentions don't work yet
  docs/CLAUDE_GITHUB_TESTING_GUIDE.md
Due: none

feat: 実際のClaude APIを使用したコードレビュー機能の実装
  .github/actions/claude-api/index.js
  .github/actions/claude-api/package.json
  .github/actions/claude-review/action.yml
  .github/workflows/claude-pr-assistant-with-api.yml
  .github/workflows/claude-pr-assistant.yml.disabled
  .github/workflows/claude-pr-review-api.yml
  docs/CLAUDE_API_IMPLEMENTATION.md
Due: format-and-lint

security: Fix security issues flagged by GitHub Advanced Security
  .github/actions/claude-api/index.js
  .github/actions/claude-api/package.json
  .github/actions/claude-review/action.yml
  .github/workflows/claude-pr-assistant-with-api.yml
  .github/workflows/claude-pr-review-api.yml
  .github/workflows/claude-pr-review-secure.yml
  docs/CLAUDE_API_IMPLEMENTATION.md
Due: format-and-lint

refactor: Claude関連ワークフローを1つに統合
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-code.yml
  .github/workflows/claude-pr-review.yml
  docs/CLAUDE_WORKFLOW_CONSOLIDATION.md
Due: none

chore: 不要な無効化されたClaude workflowファイルを削除
  .github/workflows/claude-pr-assistant.yml.disabled
Due: none

docs: Claude Integration関連ドキュメントをアーカイブ
  docs/archive/2025-07-claude-integration/CLAUDE_API_IMPLEMENTATION.md
  docs/archive/2025-07-claude-integration/CLAUDE_CODE_GITHUB_SETUP.md
  docs/archive/2025-07-claude-integration/CLAUDE_GITHUB_INTEGRATION_STATUS.md
  docs/archive/2025-07-claude-integration/CLAUDE_GITHUB_TESTING_GUIDE.md
  docs/archive/2025-07-claude-integration/CLAUDE_WORKFLOW_CONSOLIDATION.md
  docs/archive/2025-07-claude-integration/README.md
Due: none

feat(shared-types): implement type aliasing system for cleaner naming conventions (#96)
  docs/PR_01_TYPE_ALIASES.md
  packages/shared-types/src/aliases/__tests__/aliases.test.ts
  packages/shared-types/src/aliases/index.ts
  packages/shared-types/src/index.ts
Due: format-and-lint, typecheck-incremental

feat(shared-types): implement Value Object base infrastructure
  docs/PR_02_VALUE_OBJECT_BASE.md
  packages/shared-types/src/index.ts
  packages/shared-types/src/value-objects/__tests__/base.test.ts
  packages/shared-types/src/value-objects/base/guards.ts
  packages/shared-types/src/value-objects/base/index.ts
  packages/shared-types/src/value-objects/base/transforms.ts
  packages/shared-types/src/value-objects/base/value-object.ts
  packages/shared-types/src/value-objects/index.ts
Due: format-and-lint, typecheck-incremental

feat(shared-types): implement Value Object base infrastructure (#99)
  docs/PR_02_VALUE_OBJECT_BASE.md
  packages/shared-types/src/index.ts
  packages/shared-types/src/value-objects/__tests__/base.test.ts
  packages/shared-types/src/value-objects/base/guards.ts
  packages/shared-types/src/value-objects/base/index.ts
  packages/shared-types/src/value-objects/base/transforms.ts
  packages/shared-types/src/value-objects/base/value-object.ts
  packages/shared-types/src/value-objects/index.ts
Due: format-and-lint, typecheck-incremental

feat(shared-types): Video Value Objects Part 1 - VideoMetadata & Channel (#3)
  packages/shared-types/src/value-objects/__tests__/channel.test.ts
  packages/shared-types/src/value-objects/__tests__/video-metadata.test.ts
  packages/shared-types/src/value-objects/channel.ts
  packages/shared-types/src/value-objects/index.ts
  packages/shared-types/src/value-objects/video-metadata.ts
Due: format-and-lint, typecheck-incremental
