Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, typecheck-incremental

format-and-lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  fail_text: コードフォーマット・リントに失敗しました

typecheck-incremental:
  run: pnpm --filter @suzumina.click/shared-types typecheck
  fail_text: 型チェックに失敗しました

docs: V2サフィックス削除後のドキュメント更新
  CLAUDE.md
  apps/admin/package.json
  apps/functions/package.json
  apps/web/package.json
  docs/DOMAIN_MODEL.md
  docs/DOMAIN_OBJECT_CATALOG.md
  package.json
  packages/shared-types/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
Due: format-and-lint

fix: Cloud Functions エントリーポイント名をTerraform設定と一致させる
  apps/functions/src/endpoints/index.ts
Due: format-and-lint, typecheck-incremental

refactor: Cloud Functions名をfetchDLsiteUnifiedDataに統一
  apps/functions/src/endpoints/index.ts
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
  terraform/function_dlsite_individual_info_api.tf
  terraform/iam.tf
  terraform/monitoring.tf
  terraform/monitoring_dlsite.tf
Due: format-and-lint, typecheck-incremental

revert: パッケージバージョンを0.3.4に戻す
  apps/admin/package.json
  apps/functions/package.json
  apps/web/package.json
  package.json
  packages/shared-types/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
Due: format-and-lint

refactor: GitHub ActionsでfetchDLsiteUnifiedDataを使用するように更新
  .github/workflows/deploy-functions.yml
Due: none

refactor: Cloud FunctionsをGen2に移行
  .github/workflows/deploy-functions.yml
  terraform/dummy-function/index.js
  terraform/dummy-function/package.json
  terraform/function_dlsite_individual_info_api.tf
Due: format-and-lint

refactor: VideoエンティティV2関連の残存コメントとコンポーネント名を更新
  apps/functions/src/services/mappers/video-mapper.ts
  apps/web/src/components/audio/__tests__/audio-button-card.test.tsx
  apps/web/src/components/audio/__tests__/audio-button-list.test.tsx
  apps/web/src/components/audio/audio-button-adapter.tsx
  apps/web/src/components/audio/audio-button-card.tsx
  apps/web/src/components/audio/audio-button-list.tsx
  apps/web/vitest.config.ts
Due: format-and-lint, typecheck-incremental

docs: Entity V2移行完了に伴うドキュメント整理
  docs/DOMAIN_MODEL.md
  docs/DOMAIN_OBJECT_CATALOG.md
  docs/ENTITY_IMPLEMENTATION_GUIDELINES.md
  docs/archive/2025-07-entity-v2-migration/ENTITY_V2_MIGRATION_GUIDE.md
  docs/archive/2025-07-entity-v2-migration/ENTITY_V2_REMAINING_TASKS.md
  docs/archive/2025-07-entity-v2-migration/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
  docs/archive/2025-07-entity-v2-migration/NAMING_CONVENTION_MIGRATION_GUIDE.md
  docs/archive/2025-07-entity-v2-migration/PR_01_TYPE_ALIASES.md
  docs/archive/2025-07-entity-v2-migration/PR_02_VALUE_OBJECT_BASE.md
  docs/archive/2025-07-entity-v2-migration/README.md
Due: none

docs: Entity実装ガイドラインを実用的な内容に更新
  docs/ENTITY_IMPLEMENTATION_GUIDELINES.md
Due: none

refactor: Video entityレガシーフォーマット完全削除と本番向け最適化
  apps/functions/src/endpoints/__tests__/youtube-sync.test.ts
  apps/functions/src/endpoints/youtube-sync.ts
  apps/functions/src/services/mappers/__tests__/video-mapper.test.ts
  apps/functions/src/services/mappers/video-mapper.ts
  apps/functions/src/services/migration/__tests__/entity-migration.test.ts
  apps/functions/src/services/migration/entity-migration.ts
  apps/functions/src/services/youtube/__tests__/youtube-firestore.test.ts
  apps/functions/src/services/youtube/youtube-firestore.ts
  apps/functions/src/services/youtube/youtube-service.ts
  docs/ENTITY_IMPLEMENTATION_GUIDELINES.md
  docs/VIDEO_LEGACY_FORMAT_MIGRATION.md
  packages/shared-types/src/entities/__tests__/video.test.ts
  packages/shared-types/src/entities/video.ts
  packages/shared-types/src/plain-objects/video-plain.ts
  packages/shared-types/src/value-objects/index.ts
  packages/shared-types/src/value-objects/video/__tests__/channel.test.ts
  packages/shared-types/src/value-objects/video/__tests__/video-content.test.ts
  packages/shared-types/src/value-objects/video/__tests__/video-metadata.test.ts
  packages/shared-types/src/value-objects/video/__tests__/video-statistics.test.ts
  packages/shared-types/src/value-objects/video/channel.ts
  packages/shared-types/src/value-objects/video/video-content.ts
  packages/shared-types/src/value-objects/video/video-metadata.ts
  packages/shared-types/src/value-objects/video/video-statistics.ts
Due: format-and-lint, typecheck-incremental

test: Video.fromLegacyFormat削除に伴うテストヘルパー修正
  apps/web/src/app/videos/[videoId]/components/__tests__/VideoDetail.test.tsx
  apps/web/src/app/videos/components/__tests__/VideoCard.test.tsx
  apps/web/src/app/videos/components/__tests__/VideoList.test.tsx
  apps/web/src/hooks/__tests__/use-video.test.tsx
Due: format-and-lint, typecheck-incremental

refactor: FirestoreServerVideoData型を循環参照解消のために移動
  apps/functions/src/services/youtube/youtube-service.ts
  docs/ENTITY_IMPLEMENTATION_GUIDELINES.md
  packages/shared-types/src/entities/video.ts
  packages/shared-types/src/plain-objects/video-plain.ts
  packages/shared-types/src/types/firestore/index.ts
  packages/shared-types/src/types/firestore/video.ts
  packages/shared-types/src/utilities/firestore-utils.ts
Due: format-and-lint, typecheck-incremental

refactor: AudioButtonエンティティをEntity実装ガイドラインに準拠
  apps/web/src/actions/audio-button-actions.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/components/audio/__tests__/audio-button-list.test.tsx
  apps/web/src/hooks/use-audio-button.ts
  packages/shared-types/src/entities/__tests__/audio-button.test.ts
  packages/shared-types/src/entities/audio-button.ts
  packages/shared-types/src/plain-objects/audio-button-plain.ts
  packages/shared-types/src/types/firestore/audio-button.ts
  packages/shared-types/src/types/firestore/index.ts
  packages/shared-types/src/value-objects/audio-button/__tests__/audio-content.test.ts
  packages/shared-types/src/value-objects/audio-button/__tests__/audio-reference.test.ts
  packages/shared-types/src/value-objects/audio-button/__tests__/button-statistics.test.ts
  packages/shared-types/src/value-objects/audio-button/audio-content.ts
  packages/shared-types/src/value-objects/audio-button/audio-reference.ts
  packages/shared-types/src/value-objects/audio-button/button-statistics.ts
  packages/shared-types/src/value-objects/index.ts
Due: format-and-lint, typecheck-incremental

fix: Copilotレビューの中優先度項目を実装
  packages/shared-types/src/entities/audio-button.ts
  packages/shared-types/src/plain-objects/audio-button-plain.ts
Due: format-and-lint, typecheck-incremental

refactor: AudioButtonエンティティをEntity実装ガイドラインに準拠 (#123)
  apps/web/src/actions/audio-button-actions.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/components/audio/__tests__/audio-button-list.test.tsx
  apps/web/src/hooks/use-audio-button.ts
  packages/shared-types/src/entities/__tests__/audio-button.test.ts
  packages/shared-types/src/entities/audio-button.ts
  packages/shared-types/src/plain-objects/audio-button-plain.ts
  packages/shared-types/src/types/firestore/audio-button.ts
  packages/shared-types/src/types/firestore/index.ts
  packages/shared-types/src/value-objects/audio-button/__tests__/audio-content.test.ts
  packages/shared-types/src/value-objects/audio-button/__tests__/audio-reference.test.ts
  packages/shared-types/src/value-objects/audio-button/__tests__/button-statistics.test.ts
  packages/shared-types/src/value-objects/audio-button/audio-content.ts
  packages/shared-types/src/value-objects/audio-button/audio-reference.ts
  packages/shared-types/src/value-objects/audio-button/button-statistics.ts
  packages/shared-types/src/value-objects/index.ts
Due: format-and-lint, typecheck-incremental

refactor: Workエンティティを Entity Implementation Guidelines に適合
  packages/shared-types/src/aliases/__tests__/aliases.test.ts
  packages/shared-types/src/aliases/index.ts
  packages/shared-types/src/entities/work-entity.ts
  packages/shared-types/src/entities/work.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/plain-objects/work-plain.ts
  packages/shared-types/src/types/firestore/index.ts
  packages/shared-types/src/types/firestore/work.ts
  packages/shared-types/src/value-objects/__tests__/creator-type.test.ts
  packages/shared-types/src/value-objects/__tests__/date-range.test.ts
  packages/shared-types/src/value-objects/__tests__/price.test.ts
  packages/shared-types/src/value-objects/__tests__/rating.test.ts
  packages/shared-types/src/value-objects/index.ts
  packages/shared-types/src/value-objects/work/circle.ts
  packages/shared-types/src/value-objects/work/creator-type.ts
  packages/shared-types/src/value-objects/work/date-range.ts
  packages/shared-types/src/value-objects/work/price.ts
  packages/shared-types/src/value-objects/work/rating.ts
  packages/shared-types/src/value-objects/work/work-creators.ts
  packages/shared-types/src/value-objects/work/work-id.ts
  packages/shared-types/src/value-objects/work/work-price.ts
  packages/shared-types/src/value-objects/work/work-rating.ts
  packages/shared-types/src/value-objects/work/work-title.ts
Due: format-and-lint, typecheck-incremental

refactor: フロントエンド未使用のドメインサービスロジックを削除
  apps/functions/src/services/domain/__tests__/work-classification-service.test.ts
  apps/functions/src/services/domain/work-classification-service.ts
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkCard.tsx
Due: format-and-lint, typecheck-incremental

feat: Phase 2 - WorkエンティティベースのR18フィルタリングとデータ変換実装
  apps/functions/src/services/domain/work-classification-service.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/utilities/__tests__/work-conversions.test.ts
  packages/shared-types/src/utilities/age-rating.ts
  packages/shared-types/src/utilities/work-conversions.ts
Due: format-and-lint, typecheck-incremental

fix: Copilotレビューコメントに基づく改善
  packages/shared-types/src/entities/work-entity.ts
  packages/shared-types/src/value-objects/work/work-creators.ts
Due: format-and-lint, typecheck-incremental

refactor: Workエンティティを Entity Implementation Guidelines に適合 (#124)
  apps/functions/src/services/domain/__tests__/work-classification-service.test.ts
  apps/functions/src/services/domain/work-classification-service.ts
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  packages/shared-types/src/aliases/__tests__/aliases.test.ts
  packages/shared-types/src/aliases/index.ts
  packages/shared-types/src/entities/work-entity.ts
  packages/shared-types/src/entities/work.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/plain-objects/work-plain.ts
  packages/shared-types/src/types/firestore/index.ts
  packages/shared-types/src/types/firestore/work.ts
  packages/shared-types/src/utilities/__tests__/work-conversions.test.ts
  packages/shared-types/src/utilities/age-rating.ts
  packages/shared-types/src/utilities/work-conversions.ts
  packages/shared-types/src/value-objects/__tests__/creator-type.test.ts
  packages/shared-types/src/value-objects/__tests__/date-range.test.ts
  packages/shared-types/src/value-objects/__tests__/price.test.ts
  packages/shared-types/src/value-objects/__tests__/rating.test.ts
  packages/shared-types/src/value-objects/index.ts
  packages/shared-types/src/value-objects/work/circle.ts
  packages/shared-types/src/value-objects/work/creator-type.ts
  packages/shared-types/src/value-objects/work/date-range.ts
  packages/shared-types/src/value-objects/work/price.ts
  packages/shared-types/src/value-objects/work/rating.ts
  packages/shared-types/src/value-objects/work/work-creators.ts
  packages/shared-types/src/value-objects/work/work-id.ts
  packages/shared-types/src/value-objects/work/work-price.ts
  packages/shared-types/src/value-objects/work/work-rating.ts
  packages/shared-types/src/value-objects/work/work-title.ts
Due: format-and-lint, typecheck-incremental

refactor: Work entity改善とドメインモデルドキュメント更新
  apps/web/src/app/actions/work-actions.ts
  docs/DOMAIN_MODEL.md
  docs/DOMAIN_OBJECT_CATALOG.md
  packages/shared-types/src/entities/work-entity.ts
  packages/shared-types/src/value-objects/work/work-creators.ts
  packages/shared-types/src/value-objects/work/work-id.ts
  packages/shared-types/src/value-objects/work/work-price.ts
  packages/shared-types/src/value-objects/work/work-rating.ts
  packages/shared-types/src/value-objects/work/work-title.ts
Due: format-and-lint, typecheck-incremental

refactor: DRY原則に基づくWorkエンティティ関連ロジックの統一
  apps/functions/src/services/domain/work-classification-service.ts
  apps/functions/src/services/domain/work-validation-service.ts
  packages/shared-types/src/entities/work-entity.ts
  packages/shared-types/src/value-objects/work/work-id.ts
Due: format-and-lint, typecheck-incremental

fix: resolve conflicts and fix lint/test errors
  apps/functions/src/services/domain/__tests__/work-classification-service.test.ts
  apps/functions/src/services/domain/work-classification-service.ts
  apps/web/src/app/circles/[circleId]/__tests__/actions.test.ts
  apps/web/src/app/circles/[circleId]/actions.ts
  apps/web/src/app/works/__tests__/actions.test.ts
Due: format-and-lint, typecheck-incremental

docs: OptimizedFirestoreDLsiteWorkData → WorkDocument名称変更の反映
  docs/DEPRECATED_APIS.md
  docs/ENTITY_VALUE_OBJECT_EXPANSION_PLAN.md
  docs/FIRESTORE_STRUCTURE.md
  docs/archive/2025-07-entity-v2-migration/NAMING_CONVENTION_MIGRATION_GUIDE.md
Due: none

docs: ドキュメントの統合・整理とEntity実装状況の更新
  docs/ENTITY_VALUE_OBJECT_EXPANSION_PLAN.md
  docs/archive/2025-07-video-legacy-migration/README.md
  docs/archive/2025-07-video-legacy-migration/VIDEO_LEGACY_FORMAT_MIGRATION.md
Due: none

docs: ドメインモデルドキュメントの簡潔化と再編成
  docs/DOMAIN_MODEL_SIMPLE.md
  docs/ENTITY_IMPLEMENTATION_GUIDE.md
  docs/archive/2025-07-domain-docs-verbose/DOMAIN_MODEL.md
  docs/archive/2025-07-domain-docs-verbose/DOMAIN_OBJECT_CATALOG.md
  docs/archive/2025-07-domain-docs-verbose/ENTITY_IMPLEMENTATION_GUIDELINES.md
  docs/archive/2025-07-domain-docs-verbose/ENTITY_SERIALIZATION_PATTERN.md
  docs/archive/2025-07-domain-docs-verbose/README.md
Due: none

docs: ENTITY_VALUE_OBJECT_EXPANSION_PLANの簡潔化
  docs/FUTURE_ENTITY_PLANS.md
  docs/archive/2025-07-domain-docs-verbose/ENTITY_VALUE_OBJECT_EXPANSION_PLAN.md
  docs/archive/2025-07-domain-docs-verbose/README.md
Due: none

docs: DEPRECATED_APISの簡潔化と分離
  docs/DEPRECATED_APIS_ACTIVE.md
  docs/archive/2025-07-deprecated-apis/DEPRECATED_APIS_HISTORY.md
  docs/archive/2025-07-deprecated-apis/README.md
Due: none

docs: DEPRECATED_APIS_ACTIVEに実装状況を追加
  docs/DEPRECATED_APIS_ACTIVE.md
Due: none

docs: Entity/Value Object移行関連ドキュメントの整理完了
  docs/COMPLETED_MIGRATIONS.md
  docs/archive/README.md
Due: none

cleanup: レガシー形式サポートを完全に削除
  apps/web/.env.example
  docs/DEPRECATED_APIS_ACTIVE.md
  docs/archive/2025-07-deprecated-apis/DEPRECATED_APIS_HISTORY.md
  packages/shared-types/src/entities/__tests__/audio-button.test.ts
  packages/shared-types/src/entities/audio-button.ts
  packages/shared-types/src/migrations/__tests__/audio-button-migration.test.ts
  packages/shared-types/src/migrations/audio-button-migration.ts
  packages/shared-types/src/migrations/index.ts
Due: format-and-lint, typecheck-incremental

fix: entity-migrationでAudioButton.fromFirestoreDataを使用するよう修正
  apps/functions/src/services/migration/__tests__/entity-migration.test.ts
  apps/functions/src/services/migration/entity-migration.ts
Due: format-and-lint, typecheck-incremental

refactor: レガシーサポート削除に伴う型エラーを修正
  apps/web/src/actions/audio-button-actions.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/components/audio/__tests__/audio-button-card.test.tsx
  apps/web/src/components/audio/__tests__/audio-button-list.test.tsx
  apps/web/src/components/audio/audio-button-adapter.tsx
  packages/shared-types/src/index.ts
  packages/shared-types/src/plain-objects/audio-button-plain.ts
Due: format-and-lint, typecheck-incremental

fix: 型エラーと未使用変数を修正
  apps/web/src/actions/audio-button-actions.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/components/audio/__tests__/audio-button-card.test.tsx
  apps/web/src/components/audio/__tests__/audio-button-list.test.tsx
  apps/web/src/components/audio/audio-button-adapter.tsx
  apps/web/src/hooks/__tests__/use-audio-button.test.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/migrations/frontend-to-plain-object.ts
Due: format-and-lint, typecheck-incremental

refactor: FrontendAudioButtonDataをAudioButtonPlainObjectに完全移行
  apps/web/src/actions/audio-button-actions.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/favorites/components/FavoritesList.tsx
  apps/web/src/app/search/search-page-content.tsx
  apps/web/src/app/users/[userId]/components/UserProfileContent.tsx
  apps/web/src/app/users/[userId]/page.tsx
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
  apps/web/src/components/audio-button-detail/audio-button-detail-main-content.tsx
  apps/web/src/components/audio/__tests__/featured-audio-buttons-carousel.test.tsx
  apps/web/src/components/audio/audio-button-adapter.tsx
  apps/web/src/components/audio/audio-button-card.tsx
  apps/web/src/components/audio/audio-button-editor.tsx
  apps/web/src/components/audio/audio-button-with-favorite-client.tsx
  apps/web/src/components/audio/audio-button-with-play-count.tsx
  apps/web/src/components/audio/featured-audio-buttons-carousel.tsx
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/hooks/use-audio-button-editor.ts
  apps/web/src/lib/__tests__/audio-buttons-firestore.test.ts
  apps/web/src/lib/audio-buttons-firestore.ts
  packages/shared-types/src/entities/audio-button.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/migrations/__tests__/audio-button-migration.test.ts
  packages/shared-types/src/migrations/audio-button-migration.ts
  packages/shared-types/src/migrations/frontend-to-plain-object.ts
  packages/ui/src/components/custom/audio-button-preview.tsx
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/custom/audio-player.tsx
  packages/ui/src/components/custom/progressive-audio-button-list.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.tsx
Due: format-and-lint, typecheck-incremental

feat: FrontendAudioButtonData型を完全削除し、AudioButtonPlainObjectに統一
  apps/functions/src/services/migration/__tests__/entity-migration.test.ts
  apps/functions/src/services/migration/entity-migration.ts
  apps/web/src/actions/audio-button-actions.ts
  apps/web/src/app/favorites/page.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  docs/DEPRECATED_APIS_ACTIVE.md
  docs/archive/2025-07-deprecated-apis/DEPRECATED_APIS_FINAL.md
  packages/ui/src/components/custom/__tests__/audio-button-preview.test.tsx
  packages/ui/src/components/custom/__tests__/audio-button.test.tsx
  packages/ui/src/components/custom/__tests__/audio-player.test.tsx
  packages/ui/src/components/custom/__tests__/virtualized-audio-button-list.test.tsx
  packages/ui/src/components/custom/audio-button-performance-test.tsx
  packages/ui/src/components/custom/audio-button-preview.tsx
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/custom/audio-player.tsx
  packages/ui/src/components/custom/large-dataset-integration-test.tsx
Due: format-and-lint, typecheck-incremental

fix: UI packageのTypeScriptエラーを修正
  packages/shared-types/src/plain-objects/audio-button-plain.ts
  packages/ui/src/components/custom/__tests__/progressive-audio-button-list.test.tsx
  packages/ui/src/test-utils/performance-benchmark.ts
Due: format-and-lint, typecheck-incremental

fix: update use-audio-button.test.tsx to use fromFirestoreData instead of fromLegacy
  apps/web/src/hooks/__tests__/use-audio-button.test.tsx
Due: format-and-lint, typecheck-incremental

fix: YouTube動画のライブ配信判定ロジックを改善
  packages/shared-types/src/entities/__tests__/video.test.ts
  packages/shared-types/src/entities/video.ts
Due: format-and-lint, typecheck-incremental

Path conditions:
  format-and-lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck-incremental: any of: *.{ts,tsx}
