Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck, test

lefthook.yml:

pre-commit:
  commands:
    # 1. コードフォーマット・リント (Biome)
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. TypeScript型チェック
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 関連テストの実行
    test:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm test --run --reporter=verbose --passWithNoTests
      fail_text: "テストが失敗しました"
      skip: true  # 必要に応じてコメントアウト
    
    # 4. セキュリティ監査 (週1回程度で十分な場合はskip: trueにする)
    audit:
      run: pnpm audit --audit-level moderate
      fail_text: "セキュリティ脆弱性が検出されました"
      skip: true  # 必要に応じてコメントアウト

pre-push:
  commands:
    # プッシュ前の最終チェック
    final-check:
      run: pnpm check && pnpm test:coverage
      fail_text: "最終チェックに失敗しました"
    
    # 共有型のビルド確認
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"

fix: add missing createdBy and createdByName properties to AudioReferenceCreator preview
  apps/web/src/components/AudioReferenceCreator.tsx
Due: check, typecheck, test

fix: resolve all lint errors and improve code quality
  apps/web/package.json
  apps/web/src/app/auth/error/page.tsx
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/page.test.tsx
  apps/web/src/app/buttons/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/videos/actions.test.ts
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/auth.ts
  apps/web/src/components/AudioReferenceCard.test.tsx
  apps/web/src/components/AudioReferenceCard.tsx
  apps/web/src/components/AudioReferenceCreator.test.tsx
  apps/web/src/components/AudioReferenceCreator.tsx
  apps/web/src/components/AuthButton.tsx
  apps/web/src/components/Layout.stories.tsx
  apps/web/src/components/SiteHeader.test.tsx
  apps/web/src/components/ThumbnailImage.test.tsx
  apps/web/src/components/UserAvatar.tsx
  apps/web/src/components/YouTubePlayer.test.tsx
  apps/web/src/components/YouTubePlayer.tsx
  apps/web/src/lib/user-firestore.ts
Due: check, typecheck, test

fix: remove invalid biome-ignore comments and finalize lint fixes
  apps/web/src/app/layout.tsx
  apps/web/src/components/Layout.stories.tsx
  apps/web/src/components/ThumbnailImage.test.tsx
Due: check, typecheck, test

fix: improve biome-ignore comments and lint configuration
  apps/functions/src/utils/dlsite-parser.ts
  apps/functions/src/utils/youtube-api.test.ts
  biome.json
Due: check, typecheck, test

fix: resolve Cloud Run cleanup error with --delete-tags flag
  .github/workflows/deploy-cloud-run.yml
Due: none

fix: add biome-ignore comments for CI lint errors
  apps/web/src/app/layout.tsx
  apps/web/src/components/Layout.stories.tsx
  apps/web/src/components/ThumbnailImage.test.tsx
Due: check, typecheck, test

feat: add Cloud Functions revision cleanup
  .github/workflows/deploy-cloud-run.yml
  scripts/cleanup-function-revisions.sh
Due: none

refactor: move Cloud Functions revision cleanup to proper workflow
  .github/workflows/deploy-cloud-run.yml
  .github/workflows/deploy-functions.yml
Due: none

feat: add admin user management interface and standardize monorepo scripts
  packages/ui/package.json
Due: check

feat: add admin user management interface and standardize monorepo scripts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/app/admin/layout.tsx
  apps/web/src/app/admin/users/actions.test.ts
  apps/web/src/app/admin/users/actions.ts
  apps/web/src/app/admin/users/components/UserList.tsx
  apps/web/src/app/admin/users/components/UserStats.tsx
  apps/web/src/app/admin/users/page.tsx
  apps/web/src/auth.ts
  apps/web/src/lib/user-firestore.ts
  package.json
  packages/shared-types/package.json
  packages/shared-types/src/user.ts
Due: check, typecheck, test

chore: bump all package versions to 0.2.1
  apps/functions/package.json
  apps/web/package.json
  package.json
  packages/shared-types/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
Due: check

docs: update project documentation with comprehensive feature overview
  CLAUDE.md
  docs/README.md
Due: none

chore: update dependencies and add cleanup scripts
  CLAUDE.md
  apps/functions/package.json
  apps/web/package.json
  apps/web/test-results/.last-run.json
  biome.json
  package.json
  packages/shared-types/package.json
  packages/ui/biome.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: check

fix: improve video card button visibility and resolve Discord auth issues
  apps/web/src/app/videos/components/VideoCard.tsx
  terraform/cloud_run.tf
Due: check, typecheck, test

fix: downgrade recharts to v2.15.3 to resolve TypeScript compatibility issues
  packages/ui/package.json
  pnpm-lock.yaml
Due: check

fix: resolve @auth/core version conflict with next-auth
  apps/web/package.json
  pnpm-lock.yaml
Due: check

docs: add comprehensive dependency update strategy and automation
  .github/renovate.json
  .github/workflows/dependency-update-check.yml
  CLAUDE.md
  docs/DEPENDENCY_UPDATE_STRATEGY.md
  scripts/safe-update.sh
Due: check

fix: resolve Biome check failures in UI package
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/biome.json
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/vitest.setup.ts
Due: check, typecheck, test

refactor: simplify Biome configuration for better developer experience
  apps/web/src/lib/firestore.test.ts
  biome.json
Due: check, typecheck, test

chore: update dependencies to address Dependabot security alerts
  apps/functions/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: check

fix: remove unnecessary YouTube API key check and fix chart component types
  apps/functions/src/utils/youtube-api.ts
  packages/ui/src/components/chart.tsx
Due: check, typecheck, test

refactor: replace complex Tailwind CSS with shadcn/ui components
  apps/web/src/app/admin/works/components/WorkDetail.tsx
  apps/web/src/components/AdminListItem.tsx
  apps/web/src/components/SiteHeader.tsx
Due: check, typecheck, test

docs: consolidate documentation and remove redundancy
  docs/AUDIO_BUTTON_DESIGN.md
  docs/AUDIO_BUTTON_IMPLEMENTATION.md
  docs/AUDIO_PLAYER_SIMPLIFICATION.md
  docs/DEPENDENCY_UPDATE_STRATEGY.md
  docs/DEVELOPMENT.md
  docs/POLICY.md
  pnpm-lock.yaml
Due: none

docs: centralize all documentation and eliminate scattered markdown files
  .github/copilot-instructions.md
  docs/AUTH_DEPLOYMENT_GUIDE.md
  docs/TERRAFORM_GUIDE.md
  docs/WEB_DEPLOYMENT.md
  packages/typescript-config/README.md
Due: none

docs: modernize and streamline CLAUDE.md project overview
  CLAUDE.md
Due: none

docs: streamline documentation for production operations
  CLAUDE.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/TODO.md
  docs/WEB_DEPLOYMENT.md
Due: none

feat: update shadcn/ui theme from neutral to stone base color
  apps/web/components.json
  packages/ui/components.json
  packages/ui/src/styles/globals.css
Due: check

fix: resolve Biome linting errors and improve type safety
  biome.json
  packages/ui/src/components/ui/chart.tsx
  packages/ui/src/components/ui/checkbox.stories.tsx
  packages/ui/src/components/ui/dialog.stories.tsx
  packages/ui/src/components/ui/tabs.stories.tsx
Due: check, typecheck, test

feat: update Biome configuration to v2.0.5 with enhanced rules
  biome.json
Due: check

fix: resolve TypeScript import and type errors in UI components
  packages/ui/src/components/ui/alert-dialog.tsx
  packages/ui/src/components/ui/calendar.tsx
  packages/ui/src/components/ui/carousel.tsx
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/pagination.tsx
  packages/ui/src/components/ui/sidebar.tsx
  packages/ui/src/components/ui/toggle-group.tsx
Due: check, typecheck, test

security: fix Code Scanning alerts and improve security posture
  apps/functions/src/dlsite.test.ts
Due: check, typecheck, test

security: fix remaining Code Scanning alerts
  .github/workflows/dependency-update-check.yml
  packages/shared-types/src/audio-reference.ts
Due: check, typecheck, test

fix: resolve TypeScript module resolution conflict for UI package
  packages/typescript-config/react-library.json
  packages/ui/src/components/ui/alert-dialog.tsx
  packages/ui/src/components/ui/alert.stories.tsx
  packages/ui/src/components/ui/badge.stories.tsx
  packages/ui/src/components/ui/button.stories.tsx
  packages/ui/src/components/ui/calendar.tsx
  packages/ui/src/components/ui/card.stories.tsx
  packages/ui/src/components/ui/carousel.tsx
  packages/ui/src/components/ui/checkbox.stories.tsx
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/dialog.stories.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/input.stories.tsx
  packages/ui/src/components/ui/pagination.stories.tsx
  packages/ui/src/components/ui/pagination.tsx
  packages/ui/src/components/ui/select.stories.tsx
  packages/ui/src/components/ui/sidebar.tsx
  packages/ui/src/components/ui/tabs.stories.tsx
  packages/ui/src/components/ui/toggle-group.tsx
Due: check, typecheck, test

feat: add simplified audio button creation UI
  apps/web/src/app/buttons/create/page.tsx
  apps/web/src/components/AudioReferenceCreatorSimple.tsx
Due: check, typecheck, test

feat: improve Discord OAuth production config and terraform tooling
  apps/web/src/app/buttons/create/page.tsx
  apps/web/src/components/AudioReferenceCreator.tsx
  apps/web/src/components/AudioReferenceCreatorSimple.tsx
  terraform/Makefile
  terraform/README.md
  terraform/cloud_run.tf
  terraform/scripts/import-firestore-indexes.sh
  terraform/scripts/list-firestore-indexes.sh
  terraform/scripts/simple-firestore-import.sh
  terraform/scripts/tf-lock-check.sh
  terraform/variables.tf
Due: check, typecheck, test

fix: update AudioReferenceCreator tests for simplified UI
  apps/web/src/components/AudioReferenceCreator.test.tsx
Due: check, typecheck, test

fix: resolve YouTube Player time update infinite loop
  apps/web/src/components/AudioReferenceCreator.tsx
  apps/web/src/components/YouTubePlayer.tsx
Due: check, typecheck, test
