Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck, test

lefthook.yml:

pre-commit:
  commands:
    # 1. コードフォーマット・リント (Biome)
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. TypeScript型チェック
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 関連テストの実行
    test:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm test --run --reporter=verbose --passWithNoTests
      fail_text: "テストが失敗しました"
    
    # 4. セキュリティ監査 (週1回程度で十分な場合はskip: trueにする)
    audit:
      run: pnpm audit --audit-level moderate
      fail_text: "セキュリティ脆弱性が検出されました"

pre-push:
  commands:
    # 共有型のビルド確認
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"
    
    # プッシュ前の最終チェック (段階的実行)
    final-check:
      run: pnpm check && pnpm test:coverage
      fail_text: "最終チェックに失敗しました"

refactor: migrate admin data refresh to Pub/Sub and update data collection paths
  apps/admin/package.json
  apps/admin/src/app/api/admin/videos/refresh/route.ts
  apps/admin/src/app/api/admin/works/refresh/route.ts
  apps/admin/src/app/videos/page.tsx
  apps/admin/src/app/works/page.tsx
  apps/web/src/app/sitemap.ts
  pnpm-lock.yaml
  terraform/admin_app.tf
Due: check, typecheck, test

refactor: clean up unused code and improve admin app testing infrastructure
  apps/admin/package.json
  apps/admin/src/__tests__/api/api-logic.test.ts
  apps/admin/src/__tests__/basic.test.ts
  apps/admin/src/__tests__/components/simple-components.test.tsx
  apps/admin/src/__tests__/integration/admin-workflow.test.ts
  apps/admin/src/__tests__/utils/auth.test.ts
  apps/admin/src/__tests__/utils/data-helpers.test.ts
  apps/admin/src/__tests__/utils/firestore.test.ts
  apps/admin/src/__tests__/utils/validation.test.ts
  apps/admin/src/lib/data-helpers.ts
  apps/admin/src/lib/validation.ts
  apps/admin/src/test-setup.ts
  apps/admin/tsconfig.test.json
Due: check, typecheck, test

refactor: complete unused code cleanup from web app and UI package
  apps/web/src/__tests__/integration/basicComponentRendering.test.tsx
  apps/web/src/app/api/auth/guild/verify/route.ts
  apps/web/src/components/FavoriteButtonWrapper.tsx
  apps/web/vitest.shims.d.ts
  packages/ui/.storybook/main.ts
Due: check, typecheck, test

docs: update CLAUDE.md to reflect latest codebase improvements
  CLAUDE.md
Due: none

docs: rewrite TODO.md to reflect current development status
  docs/TODO.md
Due: none

docs: comprehensive documentation restructuring and optimization
  CHANGELOG.md
  CLAUDE.md
  README.md
  apps/admin/README.md
  docs/AUTH_DEPLOYMENT_GUIDE.md
  docs/AUTH_TROUBLESHOOTING.md
  docs/CHANGELOG.md
  docs/CHEERIO_UPGRADE_GUIDE.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/INFRASTRUCTURE_ARCHITECTURE.md
  docs/PERSONAL_STATIC_PAGES_STRATEGY.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/RELEASE_PROCESS.md
  docs/TERRAFORM_GUIDE.md
  docs/V0_MOCK_FEATURE_ANALYSIS.md
  docs/WEB_DEPLOYMENT.md
  packages/ui/README.md
  terraform/README.md
Due: none

feat: implement title search functionality for videos and works pages
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoList.tsx
  apps/web/src/app/videos/page.tsx
  apps/web/src/app/works/actions.ts
  apps/web/src/app/works/components/WorkList.tsx
  apps/web/src/app/works/page.tsx
  packages/ui/src/components/custom/search-and-filter-panel.stories.tsx
  packages/ui/src/components/custom/search-and-filter-panel.test.tsx
  packages/ui/src/components/custom/search-and-filter-panel.tsx
Due: check, typecheck, test

fix: resolve Japanese IME input issue in video search
  apps/web/src/app/videos/components/VideoList.tsx
Due: check, typecheck, test

fix: correct search result display and pagination for video search
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoList.tsx
  apps/web/src/app/videos/page.tsx
Due: check, typecheck, test

fix: enable search across all video pages instead of just first page
  apps/web/src/app/videos/actions.ts
Due: check, typecheck, test

fix: ensure YouTube video title is saved when creating audio buttons
  apps/web/src/app/buttons/actions.ts
Due: check, typecheck, test

fix: 動画詳細ページの音声ボタン表示をインライン形式に統一
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
Due: check, typecheck, test

feat: 音声ボタンプルダウンメニューをv0モック準拠にリニューアル
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.tsx
  docs/BRANCHING_STRATEGY_REVIEW.md
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: check, typecheck, test

test: update FeaturedAudioButtonsCarousel test imports
  apps/web/src/components/FeaturedAudioButtonsCarousel.test.tsx
Due: check, typecheck, test

refactor: compact SimpleAudioButton popover layout for better UX
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: check, typecheck, test

chore: remove temporary tsx dependency
  pnpm-lock.yaml
Due: none

fix: update audio button layout in detail page to match inline display
  apps/web/src/app/buttons/[id]/page.tsx
Due: check, typecheck, test

fix: implement category filter for work list page
  apps/web/src/app/works/actions.ts
  apps/web/src/app/works/components/WorkList.tsx
  apps/web/src/app/works/page.tsx
Due: check, typecheck, test

feat: update user profile audio buttons to inline layout
  apps/web/src/app/users/[userId]/components/UserProfileContent.tsx
Due: check, typecheck, test

feat: add user profile settings page
  apps/web/src/app/settings/profile/actions.ts
  apps/web/src/app/settings/profile/components/ProfileSettingsForm.tsx
  apps/web/src/app/settings/profile/page.tsx
  apps/web/src/components/UserMenu.tsx
Due: check, typecheck, test

feat: update favorites page to inline audio button layout
  apps/web/src/app/favorites/components/FavoritesList.tsx
Due: check, typecheck, test

fix: improve button alignment in VideoCard component
  apps/web/src/app/videos/components/VideoCard.tsx
Due: check, typecheck, test

feat: implement comprehensive responsive UI tests with touch target validation
  apps/admin/src/app/buttons/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/components/AdminNavigation.test.tsx
  apps/admin/src/components/AdminNavigation.tsx
  apps/admin/src/components/UserEditDialog.tsx
  apps/admin/src/components/UserManagementClient.tsx
  apps/web/e2e/responsive.spec.ts
  apps/web/src/components/AudioButtonCreator.test.tsx
  apps/web/src/components/AudioButtonCreator.tsx
  apps/web/src/components/FavoriteButton.test.tsx
  apps/web/src/components/FavoriteButton.tsx
  packages/ui/package.json
  packages/ui/src/components/custom/simple-audio-button.test.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
  packages/ui/src/components/ui/button.test.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/test-utils/responsive-testing.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: check, typecheck, test

fix: apply linter auto-fixes for responsive tests
  apps/web/e2e/responsive.spec.ts
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: check, typecheck, test

perf: optimize lefthook configuration to eliminate redundant checks
  lefthook.yml
Due: none

feat: comprehensive responsive UI enhancement
  apps/web/src/app/page.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.test.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.tsx
  apps/web/src/components/MobileMenu.tsx
  docs/TODO.md
  packages/ui/src/components/custom/generic-carousel.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: check, typecheck, test

feat: implement unified search functionality with comprehensive testing
  apps/web/e2e/search.spec.ts
  apps/web/src/app/about/page.tsx
  apps/web/src/app/actions.test.ts
  apps/web/src/app/actions.ts
  apps/web/src/app/api/search/route.test.ts
  apps/web/src/app/api/search/route.ts
  apps/web/src/app/contact/page.tsx
  apps/web/src/app/privacy/page.tsx
  apps/web/src/app/search/SearchPageContent.test.tsx
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/app/search/page.tsx
  apps/web/src/app/terms/page.tsx
Due: check, typecheck, test

docs: update documentation for v0.2.3 unified search implementation
  CLAUDE.md
  docs/CHANGELOG.md
  docs/TODO.md
  package.json
Due: check

feat: implement comprehensive like button UI system
  apps/web/src/actions/__tests__/likes.test.ts
  apps/web/src/actions/likes.ts
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/search/page.tsx
  apps/web/src/components/LikeButton.tsx
  apps/web/src/components/__tests__/LikeButton.test.tsx
Due: check, typecheck, test

docs: update TODO.md to reflect completed like button implementation
  docs/TODO.md
Due: none

feat: implement comprehensive search UI/UX improvements and enhance test infrastructure
  apps/web/playwright-report/index.html
  apps/web/src/app/api/audio-buttons/route.ts
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/favorites/components/FavoritesList.tsx
  apps/web/src/app/search/SearchPageContent.test.tsx
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/app/search/page.tsx
  apps/web/src/app/users/[userId]/components/UserProfileContent.tsx
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
  apps/web/src/app/videos/actions.ts
  apps/web/src/components/AudioButtonWithFavoriteClient.tsx
  apps/web/src/components/AudioButtonWithPlayCount.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.test.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.tsx
  apps/web/src/components/__tests__/LikeButton.test.tsx
  apps/web/src/hooks/__tests__/useDebounce.test.ts
  apps/web/src/hooks/useDebounce.ts
  apps/web/src/hooks/usePlayCount.ts
  apps/web/test-results/.last-run.json
  apps/web/vitest-mocks/next-auth-providers-discord.js
  apps/web/vitest-mocks/next-auth-react.js
  apps/web/vitest-mocks/next-auth.js
  apps/web/vitest-mocks/next-server.js
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  docs/TODO.md
  packages/shared-types/src/audio-button.ts
  packages/ui/src/components/custom/advanced-filter-panel.test.tsx
  packages/ui/src/components/custom/advanced-filter-panel.tsx
  packages/ui/src/components/custom/date-range-filter.test.tsx
  packages/ui/src/components/custom/date-range-filter.tsx
  packages/ui/src/components/custom/highlight-text.test.tsx
  packages/ui/src/components/custom/highlight-text.tsx
  packages/ui/src/components/custom/numeric-range-filter.test.tsx
  packages/ui/src/components/custom/numeric-range-filter.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
  pnpm-lock.yaml
Due: check, typecheck, test

test: fix TypeScript errors in highlight-text tests
  packages/ui/src/components/custom/highlight-text.test.tsx
Due: check, typecheck, test

feat: implement comprehensive advanced search filtering system
  apps/web/src/app/actions.ts
  apps/web/src/app/api/search/__tests__/route-filters.test.ts
  apps/web/src/app/api/search/route.ts
  apps/web/src/app/search/SearchPageContent.test.tsx
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/components/SearchFilters.tsx
  apps/web/src/components/__tests__/SearchFilters.test.tsx
  apps/web/vitest.setup.ts
  packages/shared-types/src/__tests__/search-filters.test.ts
  packages/shared-types/src/audio-button.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/search-filters.ts
Due: check, typecheck, test

docs: update documentation to reflect v0.2.4 advanced filtering implementation
  CLAUDE.md
  docs/CHANGELOG.md
  docs/DEVELOPMENT.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/TODO.md
Due: none

feat: complete advanced search enhancement implementation with autocomplete and performance fixes
  apps/web/playwright-report/index.html
  apps/web/src/app/api/autocomplete/route.ts
  apps/web/src/app/search/SearchPageContent.test.tsx
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/app/search/page.tsx
  apps/web/src/components/AutocompleteDropdown.tsx
  apps/web/src/components/HighlightText.tsx
  apps/web/src/components/SearchInputWithAutocomplete.tsx
  apps/web/src/components/__tests__/AutocompleteDropdown.test.tsx
  apps/web/src/components/__tests__/HighlightText.test.tsx
  apps/web/src/components/__tests__/SearchInputWithAutocomplete.test.tsx
  apps/web/src/hooks/__tests__/useAutocomplete.simple.test.ts
  apps/web/src/hooks/__tests__/useAutocomplete.test.ts
  apps/web/src/hooks/useAutocomplete.ts
  apps/web/test-results/.last-run.json
  apps/web/vitest.setup.ts
  packages/ui/src/styles/globals.css
Due: check, typecheck, test

release: bump version to v0.2.5
  apps/admin/package.json
  apps/functions/package.json
  apps/web/package.json
  docs/TODO.md
  package.json
  packages/shared-types/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
Due: check

fix: resolve button page reload issue and remove dropdown delete feature
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/users/[userId]/components/UserProfileContent.tsx
  apps/web/src/components/AudioButtonWithFavoriteClient.tsx
  apps/web/src/components/AudioButtonWithPlayCount.tsx
  packages/ui/src/components/custom/numeric-range-filter.test.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: check, typecheck, test

refactor: remove unnecessary router.refresh from FavoriteButton
  apps/web/src/components/FavoriteButton.tsx
Due: check, typecheck, test

refactor: standardize test structure with co-location strategy
  CLAUDE.md
  apps/web/src/actions/likes.test.ts
  apps/web/src/app/api/search/route-filters.test.ts
  apps/web/src/components/AutocompleteDropdown.test.tsx
  apps/web/src/components/HighlightText.test.tsx
  apps/web/src/components/LikeButton.test.tsx
  apps/web/src/components/SearchFilters.test.tsx
  apps/web/src/components/SearchInputWithAutocomplete.test.tsx
  apps/web/src/hooks/useAutocomplete.simple.test.ts
  apps/web/src/hooks/useAutocomplete.test.ts
  apps/web/src/hooks/useDebounce.test.ts
  apps/web/src/lib/audio-buttons-firestore.test.ts
  apps/web/src/middleware.test.ts
  docs/DEVELOPMENT.md
  docs/TEST_REORGANIZATION_PLAN.md
Due: check, typecheck, test

fix: resolve YouTube IFrame API postMessage errors and Service Worker issues
  apps/web/next.config.mjs
  apps/web/src/middleware.ts
  packages/ui/src/components/custom/audio-only-player.tsx
  packages/ui/src/components/custom/youtube-api-manager.ts
  packages/ui/src/components/custom/youtube-types.ts
Due: check, typecheck, test
