Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

lefthook.yml:

# 最適化されたlefthook設定（冗長性除去版）

pre-commit:
  commands:
    # 1. コードフォーマット・リント (Biome) - 変更ファイルのみ高速実行
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. 変更されたパッケージのテストのみ実行（高速化）
    test:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm test --run --reporter=verbose --passWithNoTests
      fail_text: "テストが失敗しました"

pre-push:
  commands:
    # 1. 共有型のビルド確認（依存関係の整合性保証）
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"
    
    # 2. 全パッケージの型チェック（pre-commitでは変更ファイルのみ）
    typecheck:
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. セキュリティ監査（プッシュ前の最終確認）
    audit:
      run: pnpm audit --audit-level moderate
      fail_text: "セキュリティ脆弱性が検出されました"
    
    # 4. テストカバレッジ確認（品質保証）
    test-coverage:
      run: pnpm test:coverage
      fail_text: "テストカバレッジが基準を満たしていません"

test: fix middleware tests for Service Worker headers
  apps/web/src/middleware.test.ts
Due: check, test

fix: resolve audio button consecutive POST requests causing page reloads
  apps/web/src/app/buttons/actions.ts
  apps/web/src/hooks/usePlayCount.ts
Due: check, test

feat: implement comprehensive Server Actions optimization to fix consecutive POST requests
  CLAUDE.md
  apps/web/src/lib/favorites-firestore.ts
  apps/web/src/lib/user-firestore.ts
  docs/DEVELOPMENT.md
Due: check, test

feat: implement Session Branch strategy and comprehensive CI/CD optimization
  .github/workflows/dependency-update-check.yml
  .github/workflows/deploy-admin.yml
  .github/workflows/deploy-cloud-run.yml
  .github/workflows/deploy-functions.yml
  .github/workflows/lightweight-pr-check.yml
  .github/workflows/security-scan.yml
  CLAUDE.md
  docs/SESSION_BRANCH_WORKFLOW.md
  lefthook.yml
Due: none

feat: implement comprehensive Cloud Run and Docker image cleanup automation
  .github/workflows/deploy-admin.yml
  .github/workflows/deploy-cloud-run.yml
  docs/SESSION_BRANCH_WORKFLOW.md
  scripts/cleanup-gcp-resources.sh
  scripts/git-claude-done
  scripts/git-claude-start
  terraform/artifact-registry-lifecycle.tf
Due: none

feat: implement comprehensive deployment optimization for 50-67% faster Cloud Run deploys
  .github/workflows/deploy-admin.yml
  .github/workflows/deploy-cloud-run.yml
  apps/admin/Dockerfile
  apps/web/Dockerfile
  docs/DEPLOYMENT_OPTIMIZATION.md
Due: none

fix: resolve deployment failures with updated pnpm and Docker cache configurations
  .github/workflows/deploy-admin.yml
  .github/workflows/deploy-cloud-run.yml
  apps/admin/Dockerfile
  apps/web/Dockerfile
Due: none

fix: resolve video detail audio button layout and count display issues
  apps/admin/src/lib/data-helpers.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoCard.test.tsx
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/lib/__tests__/text-utils.test.tsx
  apps/web/src/lib/text-utils.ts
  packages/shared-types/src/video.ts
  packages/ui/src/components/custom/simple-audio-button.tsx
  packages/ui/src/components/ui/tabs.tsx
Due: check, test

fix: add explicit JST timezone to all date formatting to resolve CI test failures
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/components/SearchFilters.tsx
Due: check, test

test: add comprehensive boundary tests for video duration and date display
  apps/web/src/app/page.tsx
  apps/web/src/app/videos/[videoId]/components/VideoDetail.test.tsx
  apps/web/src/app/videos/components/VideoCard.test.tsx
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/vitest.setup.ts
Due: check, test

fix: resolve VideoDetail statistics tab tests failures
  apps/web/src/app/videos/[videoId]/components/VideoDetail.test.tsx
Due: check, test

feat: enhance audio button detail page with tags, description, and improved layout
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/videos/actions.ts
  apps/web/src/components/AudioButtonCreator.test.tsx
  apps/web/src/components/AudioButtonCreator.tsx
  apps/web/src/components/LikeButton.tsx
Due: check, test

refactor: clean up excessive debug logs in buttons actions
  apps/web/src/app/buttons/actions.ts
Due: check, test

release: bump version to 0.2.6 - audio button features expansion
  apps/web/package.json
Due: check

chore: update dependencies to latest versions
  apps/web/package.json
Due: check

chore(deps): update lucide-react to 0.525.0
  apps/admin/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: check

fix: package update only
  pnpm-lock.yaml
Due: none

test: add missing lucide-react icon mocks for shadcn/ui components
  apps/web/vitest.setup.ts
Due: check, test

feat: implement high-resolution image support and ENABLE_DETAILED_SCRAPING
  apps/admin/src/app/works/page.tsx
  apps/functions/src/dlsite.ts
  apps/functions/src/utils/dlsite-detail-parser.test.ts
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/functions/src/utils/dlsite-mapper.test.ts
  apps/functions/src/utils/dlsite-mapper.ts
  apps/functions/vitest.config.ts
  apps/web/package.json
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/components/CharacteristicEvaluation.test.tsx
  apps/web/src/components/CharacteristicEvaluation.tsx
  apps/web/src/components/charts/PriceHistoryChart.tsx
  apps/web/src/components/charts/SalesHistoryChart.tsx
  apps/web/src/utils/mock-chart-data.ts
  apps/web/src/utils/mock-evaluation-data.ts
  docs/CHARACTER_EVALUATION_SYSTEM.md
  docs/DLSITE_LOAD_IMPACT_ANALYSIS.md
  docs/SD_METHOD_ANALYSIS.md
  docs/WORK_DETAIL_PAGE_ENHANCEMENT.md
  docs/WORK_UPDATE_INTERVAL_ANALYSIS.md
  packages/shared-types/src/index.ts
  packages/shared-types/src/time-series-data.ts
  packages/shared-types/src/user-evaluation.ts
  packages/shared-types/src/work.test.ts
  packages/shared-types/src/work.ts
  pnpm-lock.yaml
  terraform/function_dlsite_works.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: check, test

fix: resolve DLsite parser and infrastructure deployment conflicts
  .github/workflows/deploy-functions.yml
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/web/next.config.mjs
  apps/web/src/app/search/SearchPageContent.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/components/ThumbnailImage.tsx
  docs/SD_METHOD_ANALYSIS.md
  terraform/cloud_run.tf
  terraform/function_dlsite_works.tf
  terraform/function_youtube_videos.tf
Due: check, test

feat: enhance WorkDetail component with comprehensive work information display
  apps/web/next.config.mjs
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: check, test

feat: implement DLsite detail parsing enhancement and comprehensive code quality fixes
  CLAUDE.md
  apps/admin/package.json
  apps/functions/README-PARSER-DEBUGGING.md
  apps/functions/debug-output/RJ01052559_raw.html
  apps/functions/debug-output/RJ01052559_result.json
  apps/functions/debug-output/RJ01393393_raw.html
  apps/functions/debug-output/RJ01393393_result.json
  apps/functions/debug-output/RJ01410567_raw.html
  apps/functions/debug-output/RJ01410567_result.json
  apps/functions/package.json
  apps/functions/src/debug-dlsite-parser.ts
  apps/functions/src/quick-test-parser.ts
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/functions/src/watch-dlsite-changes.ts
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  docs/CHANGELOG.md
  docs/DEVELOPMENT.md
  docs/DLSITE_DATA_OPTIMIZATION_ANALYSIS.md
  docs/README.md
  docs/TODO.md
  docs/WORK_DETAIL_ENHANCEMENT.md
  package.json
  packages/shared-types/package.json
  packages/shared-types/src/work.ts
  packages/typescript-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: check, test

fix: resolve critical DLsite parser data extraction issues
  apps/functions/src/debug-dlsite-parser.ts
  apps/functions/src/utils/dlsite-detail-parser.ts
Due: check, test

refactor: remove unreliable track information functionality from DLsite system
  apps/functions/debug-output/RJ01052559_raw.html
  apps/functions/debug-output/RJ01052559_result.json
  apps/functions/debug-output/RJ01393393_raw.html
  apps/functions/debug-output/RJ01393393_result.json
  apps/functions/debug-output/RJ01410567_raw.html
  apps/functions/debug-output/RJ01410567_result.json
  apps/functions/src/debug-dlsite-parser.ts
  apps/functions/src/quick-test-parser.ts
  apps/functions/src/utils/dlsite-detail-parser.test.ts
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/functions/src/utils/dlsite-mapper.ts
Due: check, test

refactor: remove track information from WorkDetail UI component
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  packages/shared-types/src/work.ts
Due: check, test

feat: implement DLsite category display name mapping system
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkList.tsx
  packages/shared-types/src/__tests__/work-category-mapping.test.ts
  packages/shared-types/src/work.ts
Due: check, test

fix: adjust work detail jacket image to 4:3 aspect ratio
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: check, test

fix: handle Japanese date format in work list and detail views
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkCard.tsx
Due: check, test

fix: correct liveBroadcastContent inference from videoType in convertToFrontendVideo
  packages/shared-types/src/video.ts
Due: check, test

chore: update package.json and lock file dependencies
  packages/shared-types/package.json
  pnpm-lock.yaml
Due: check

feat: implement precise decimal rating extraction from DLsite detail pages
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/functions/src/utils/dlsite-mapper.ts
Due: check, test

fix: improve work detail description extraction and age rating display
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: check, test

fix: lint only
  packages/shared-types/src/video.ts
Due: check, test

refactor: 作品詳細ページのタブ構成を統一
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: check, test

fix: カバレッジ閾値を調整してtest:coverageを修正
  apps/functions/vitest.config.ts
  packages/shared-types/vitest.config.ts
Due: check, test

fix: improve design consistency in work detail page
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: check, test

refactor: reorganize work detail information to eliminate duplication
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: check, test

fix: calculate original price from discount rate when not provided
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: check, test

fix: improve DLsite jacket image URL generation and work description extraction
  .github/workflows/deploy-functions.yml
  apps/functions/src/debug-dlsite-parser.ts
  apps/functions/src/dlsite.ts
  apps/functions/src/quick-test-parser.ts
  apps/functions/src/utils/dlsite-detail-parser.test.ts
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/functions/src/utils/dlsite-firestore.ts
  apps/functions/src/utils/dlsite-mapper.test.ts
  apps/functions/src/utils/dlsite-mapper.ts
  apps/functions/src/utils/dlsite-parser-image-url.test.ts
  apps/functions/src/utils/dlsite-parser.ts
  apps/web/src/app/actions.test.ts
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/actions.test.ts
  apps/web/src/app/works/components/WorkCard.tsx
  packages/shared-types/src/work.test.ts
  packages/shared-types/src/work.ts
  terraform/function_dlsite_works.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: check, test

feat: implement price and sales history tracking with charts
  apps/functions/src/dlsite.ts
  apps/functions/src/utils/dlsite-detail-parser.test.ts
  apps/functions/src/utils/dlsite-detail-parser.ts
  apps/functions/src/utils/dlsite-firestore.ts
  apps/functions/src/utils/dlsite-parser.ts
  apps/web/package.json
  apps/web/src/app/api/price-history/[workId]/route.ts
  apps/web/src/app/api/sales-history/[workId]/route.ts
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/components/PriceHistoryChart.tsx
  apps/web/src/components/SalesHistoryChart.tsx
  pnpm-lock.yaml
Due: check, test
