Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, typecheck-incremental

format-and-lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  fail_text: コードフォーマット・リントに失敗しました

typecheck-incremental:
  run: pnpm --filter @suzumina.click/shared-types typecheck
  fail_text: 型チェックに失敗しました

docs: コレクション名変更後のドキュメント更新とクリーンアップ
  apps/functions/src/tools/cleanup-dlsiteworks-collection.ts
  apps/functions/src/tools/migrate-dlsiteworks-to-works.ts
  docs/archive/2025-07-circle-creator-pages/CIRCLE_CREATOR_PAGES_DESIGN.md
  docs/archive/2025-07-circle-creator-pages/README.md
  docs/archive/2025-07-dlsite-integrity-check/README.md
  docs/archive/2025-07-dlsite-integrity-check/dlsite-data-collection-improvement-plan.md
  docs/archive/2025-07-dlsite-simplification/DLSITE_INCREMENTAL_UPDATE_DESIGN.md
  docs/archive/2025-07-dlsite-simplification/DLSITE_SIMPLIFICATION_REDESIGN.md
  docs/archive/2025-07-entity-v2-migration/NAMING_CONVENTION_MIGRATION_GUIDE.md
  docs/archive/2025-07-price-history-implementation/PRICE_TREND_DESIGN.md
  docs/archive/DLSITE_REGION_RESTRICTION_DESIGN_ARCHIVED.md
  docs/archive/implementation/BACKEND_FRONTEND_INTEGRATION.md
  docs/operations/changelog.md
  docs/reference/external-apis/dlsite-api.md
  docs/reference/ubiquitous-language.md
Due: format-and-lint, typecheck-incremental

feat: GCPリソースコスト最適化設定
  .github/workflows/deploy-cloud-run.yml
  .github/workflows/deploy-functions.yml
  apps/functions/src/assets/dlsite-work-ids.json
  terraform/cloud_run.tf
  terraform/function_dlsite_individual_info_api.tf
  terraform/locals.tf
Due: format-and-lint

feat: adminアプリの削除によるコスト最適化
  terraform/admin_app.tf
Due: none

fix: firebase-adminから@google-cloud/firestoreへの完全移行
  apps/functions/src/endpoints/data-integrity-check.ts
  apps/functions/src/services/dlsite/__tests__/circle-firestore.test.ts
  apps/web/package.json
  package.json
  packages/shared-types/package.json
  packages/shared-types/src/types/firestore/creator.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

chore: 未使用の@types/rechartsパッケージを削除
  apps/web/package.json
  pnpm-lock.yaml
Due: format-and-lint

feat: CI/CDワークフローの最適化
  .env.local.example
  .github/workflows/deploy-cloud-run.yml
  .github/workflows/deploy-functions.yml
  .github/workflows/deploy-web.yml
  .github/workflows/lightweight-pr-check.yml
  .github/workflows/pr-check.yml
  apps/web/package.json
  lefthook.yml
Due: format-and-lint

fix: Copilotレビューに基づく修正
  .github/workflows/deploy-functions.yml
  .github/workflows/deploy-web.yml
  .github/workflows/pr-check.yml
  lefthook.yml
Due: none

fix: claude-code-reviewワークフローの修正
  .github/workflows/claude-code-review.yml
Due: none

remove: claude-code-reviewワークフローを削除
  .github/workflows/claude-code-review.yml
Due: none

refactor: dependency-update-checkの重複を削除
  .github/workflows/dependency-update-check.yml
Due: none

remove: dependency-update-checkからE2Eテストを削除
  .github/workflows/dependency-update-check.yml
Due: none

feat: deploy-web.ymlのパフォーマンス改善
  .github/workflows/deploy-web.yml
Due: none

fix: Copilotレビューに基づく修正
  .github/workflows/deploy-web.yml
Due: none

fix: Cloud Functions fetchDLsiteUnifiedData のメモリ制限を増加
  .github/workflows/deploy-functions.yml
  terraform/function_dlsite_individual_info_api.tf
Due: none

fix: deploy-web.yml のヘルスチェックロジックを改善
  .github/workflows/deploy-web.yml
Due: none

fix: deploy-web.yml の basename エラーを修正とデバッグ情報追加
  .github/workflows/deploy-web.yml
Due: none

fix: checkDataIntegrity関数のIAM権限不足を修正
  .github/workflows/deploy-functions.yml
  terraform/function_data_integrity_check.tf
Due: none

chore: 廃止された環境変数を削除
  .github/workflows/deploy-web.yml
  terraform/cloud_run.tf
Due: none

chore: .gitignoreにTerraformのplan出力ファイルを追加
  .gitignore
Due: none

chore: Cloud Run環境変数をTerraform管理から除外
  terraform/cloud_run.tf
Due: none

fix: checkDataIntegrityのメモリ制限を512MiBに増加
  .github/workflows/deploy-functions.yml
Due: none

refactor: Cloud Runデプロイをシンプル化
  .github/workflows/deploy-web.yml
Due: none

fix: 価格履歴の日次収集とタイムゾーン問題を修正
  apps/functions/src/assets/dlsite-work-ids.json
  apps/functions/src/services/dlsite/__tests__/unified-data-processor.test.ts
  apps/functions/src/services/dlsite/unified-data-processor.ts
  apps/web/src/actions/price-history.ts
Due: format-and-lint, typecheck-incremental

feat: Firestoreクエリ最適化によるパフォーマンス改善
  apps/functions/src/assets/dlsite-work-ids.json
  apps/web/src/app/__tests__/actions.test.ts
  apps/web/src/app/actions.ts
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/works/__tests__/actions.test.ts
  apps/web/src/app/works/actions.ts
  docs/decisions/architecture/ADR-003-firestore-query-optimization.md
  docs/guides/firestore-optimization-implementation.md
  terraform/firestore_indexes.tf
Due: format-and-lint, typecheck-incremental

docs: 共通リストコンポーネントの設計ドキュメント作成
  docs/reference/common-list-component-design.md
Due: none

feat(ui): 共通リストコンポーネント用のフックを実装
  packages/ui/src/components/custom/generic-list/__tests__/types.test.ts
  packages/ui/src/components/custom/generic-list/index.ts
  packages/ui/src/components/custom/generic-list/types.ts
  packages/ui/src/components/custom/generic-list/use-list-state.ts
  packages/ui/src/components/custom/generic-list/use-url-params.ts
  packages/ui/src/components/custom/index.ts
  packages/ui/vitest.setup.ts
Due: format-and-lint, typecheck-incremental

feat: 汎用リストコンポーネント(GenericList)の実装とStorybook 9.1.0へのアップデート
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/mocks/next-navigation.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/package.json
  packages/ui/src/components/custom/audio-button-preview.stories.tsx
  packages/ui/src/components/custom/audio-button.stories.tsx
  packages/ui/src/components/custom/audio-player.stories.tsx
  packages/ui/src/components/custom/generic-list/generic-list.stories.tsx
  packages/ui/src/components/custom/generic-list/generic-list.tsx
  packages/ui/src/components/custom/generic-list/index.ts
  packages/ui/src/components/custom/generic-list/types.ts
  packages/ui/src/components/custom/generic-list/use-list-state.ts
  packages/ui/src/components/custom/generic-list/use-url-params.ts
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/progressive-audio-button-list.stories.tsx
  packages/ui/src/components/custom/search-and-filter-panel.stories.tsx
  packages/ui/src/components/custom/search-filter-panel.stories.tsx
  packages/ui/src/components/custom/tag-list.stories.tsx
  packages/ui/src/components/custom/three-layer-tag-display.stories.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.stories.tsx
  packages/ui/src/components/custom/youtube-player.stories.tsx
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

fix: Storybook環境検出をより堅牢な方法に改善
  packages/ui/.storybook/main.ts
  packages/ui/src/components/custom/generic-list/use-url-params.ts
Due: format-and-lint, typecheck-incremental

feat: 汎用リストコンポーネント(GenericList)の実装とStorybook 9.1.0へのアップデート (#155)
  docs/reference/common-list-component-design.md
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/mocks/next-navigation.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/package.json
  packages/ui/src/components/custom/audio-button-preview.stories.tsx
  packages/ui/src/components/custom/audio-button.stories.tsx
  packages/ui/src/components/custom/audio-player.stories.tsx
  packages/ui/src/components/custom/generic-list/__tests__/types.test.ts
  packages/ui/src/components/custom/generic-list/generic-list.stories.tsx
  packages/ui/src/components/custom/generic-list/generic-list.tsx
  packages/ui/src/components/custom/generic-list/index.ts
  packages/ui/src/components/custom/generic-list/types.ts
  packages/ui/src/components/custom/generic-list/use-list-state.ts
  packages/ui/src/components/custom/generic-list/use-url-params.ts
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/progressive-audio-button-list.stories.tsx
  packages/ui/src/components/custom/search-and-filter-panel.stories.tsx
  packages/ui/src/components/custom/search-filter-panel.stories.tsx
  packages/ui/src/components/custom/tag-list.stories.tsx
  packages/ui/src/components/custom/three-layer-tag-display.stories.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.stories.tsx
  packages/ui/src/components/custom/youtube-player.stories.tsx
  packages/ui/vitest.setup.ts
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

feat: 動画一覧ページをGenericListコンポーネントに移行
  apps/web/.env.local.example
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoListGeneric.tsx
  apps/web/src/app/videos/page.tsx
  docs/reference/generic-list-migration-plan.md
  packages/ui/package.json
  packages/ui/src/components/custom/generic-list/generic-list.tsx
  packages/ui/src/components/custom/generic-list/types.ts
  packages/ui/src/components/custom/generic-list/use-list-state.ts
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

refactor: Feature flagを削除して動画一覧ページをGenericListに完全移行
  apps/web/.env.local.example
  apps/web/src/app/videos/components/VideoList.tsx
  apps/web/src/app/videos/page.tsx
Due: format-and-lint, typecheck-incremental

fix: フィルタ/ソートのURL同期問題を修正
  packages/ui/src/components/custom/generic-list/__tests__/types.test.ts
  packages/ui/src/components/custom/generic-list/generic-list.tsx
  packages/ui/src/components/custom/generic-list/use-list-state.ts
Due: format-and-lint, typecheck-incremental

fix: 年代フィルタで0件になる問題を修正
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/page.tsx
Due: format-and-lint, typecheck-incremental

refactor: 動画取得ロジックを簡潔に最適化
  apps/web/src/app/videos/actions.ts
Due: format-and-lint, typecheck-incremental

fix: フィルタ/ソート変更の遅延問題を修正
  packages/ui/src/components/custom/generic-list/use-list-state.ts
Due: format-and-lint, typecheck-incremental

feat(list): 新しいリストコンポーネントの基盤を構築
  docs/proposals/generic-list-redesign-implementation-plan.md
  packages/ui/src/components/custom/list/core/hooks/useListData.ts
  packages/ui/src/components/custom/list/core/hooks/useListUrl.ts
  packages/ui/src/components/custom/list/core/types.ts
  packages/ui/src/components/custom/list/core/utils/dataAdapter.ts
  packages/ui/src/components/custom/list/core/utils/filterHelpers.ts
  packages/ui/src/components/custom/list/index.ts
Due: format-and-lint, typecheck-incremental

feat(list): SimpleListコンポーネントを実装
  packages/ui/src/components/custom/list/__tests__/simple-list.test.tsx
  packages/ui/src/components/custom/list/core/utils/dataAdapter.ts
  packages/ui/src/components/custom/list/index.ts
  packages/ui/src/components/custom/list/simple-list.md
  packages/ui/src/components/custom/list/simple-list.stories.tsx
  packages/ui/src/components/custom/list/simple-list.tsx
Due: format-and-lint, typecheck-incremental

feat(list): ConfigurableListコンポーネントを実装
  packages/ui/src/components/custom/list/__tests__/configurable-list.test.tsx
  packages/ui/src/components/custom/list/configurable-list.md
  packages/ui/src/components/custom/list/configurable-list.stories.tsx
  packages/ui/src/components/custom/list/configurable-list.tsx
  packages/ui/src/components/custom/list/index.ts
Due: format-and-lint, typecheck-incremental

feat(list): 互換性レイヤーと移行ヘルパーを実装
  packages/ui/src/components/custom/list/__tests__/migration-helpers.test.ts
  packages/ui/src/components/custom/list/generic-list-compat.tsx
  packages/ui/src/components/custom/list/index.ts
  packages/ui/src/components/custom/list/migration-guide.md
  packages/ui/src/components/custom/list/migration-helpers.ts
Due: format-and-lint, typecheck-incremental

Path conditions:
  format-and-lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck-incremental: any of: *.{ts,tsx}
