Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck, test

lefthook.yml:

pre-commit:
  commands:
    # 1. コードフォーマット・リント (Biome)
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. TypeScript型チェック
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 関連テストの実行
    test:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm test --run --reporter=verbose --passWithNoTests
      fail_text: "テストが失敗しました"
      skip: true  # 必要に応じてコメントアウト
    
    # 4. セキュリティ監査 (週1回程度で十分な場合はskip: trueにする)
    audit:
      run: pnpm audit --audit-level moderate
      fail_text: "セキュリティ脆弱性が検出されました"
      skip: true  # 必要に応じてコメントアウト

pre-push:
  commands:
    # プッシュ前の最終チェック
    final-check:
      run: pnpm check && pnpm test:coverage
      fail_text: "最終チェックに失敗しました"
    
    # 共有型のビルド確認
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"

feat: complete remaining improvements - ThumbnailImage enhancements and documentation
  apps/web/src/components/ThumbnailImage.test.tsx
  apps/web/src/components/ThumbnailImage.tsx
  apps/web/vitest.setup.ts
  docs/CHEERIO_UPGRADE_GUIDE.md
  pnpm-lock.yaml
Due: check, typecheck, test

fix: improve TypeScript configuration and test setup
  apps/web/package.json
  apps/web/src/components/ThumbnailImage.test.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.test.json
  packages/typescript-config/package.json
  packages/typescript-config/vitest.json
Due: check, typecheck, test

improve: enhance test coverage and configuration for functions package
  apps/functions/src/youtube.test.ts
  apps/functions/vitest.config.ts
Due: check, typecheck, test

fix: resolve Cloud Functions cheerio dependency issues
  apps/functions/package.json
Due: check

fix: clean up cheerio dependency specification and remove redundant packages
  apps/functions/package.json
  pnpm-lock.yaml
Due: check

refactor: clean up deprecated scripts and streamline dependencies
  apps/functions/package.json
  apps/functions/src/fix-audio-button-ids.ts
  apps/functions/src/index.ts
  apps/functions/src/types/external-modules.d.ts
  apps/functions/src/utils/dlsite-parser.ts
  apps/functions/tsconfig.json
  apps/functions/vitest.config.ts
  apps/web/package.json
  apps/web/scripts/docker-build.sh
  apps/web/scripts/docker-run.sh
  docs/AUTH_TROUBLESHOOTING.md
  docs/DEVELOPMENT.md
  docs/QUICK-REFERENCE.md
  pnpm-lock.yaml
  scripts/deploy-cloud-run.sh
  scripts/fix-audio-button-ids.js
  scripts/package.json
Due: check, typecheck, test

chore: adjust test coverage threshold and optimize git hooks
  apps/functions/vitest.config.ts
  lefthook.yml
  packages/shared-types/package.json
Due: check, typecheck, test

feat: transform audio button design to match v0 mock with inline flex layout
  apps/web/src/__tests__/integration/basicComponentRendering.test.tsx
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.test.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.tsx
Due: check, typecheck, test

feat: add minase color system and update audio button UI components
  packages/ui/src/components/custom/simple-audio-button.test.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
  packages/ui/src/components/ui/button.stories.tsx
  packages/ui/src/styles/globals.css
Due: check, typecheck, test

chore: bump version to 0.2.2 across all packages
  CLAUDE.md
  apps/functions/package.json
  apps/web/package.json
  package.json
  packages/shared-types/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
Due: check

refactor: comprehensive codebase improvements and documentation updates
  CHANGELOG.md
  CLAUDE.md
  apps/functions/package.json
  apps/functions/tsconfig.json
  apps/web/src/__tests__/integration/basicComponentRendering.test.tsx
  apps/web/src/app/actions.test.ts
  apps/web/src/app/admin/buttons/[id]/components/ButtonSidebar.tsx
  apps/web/src/app/admin/buttons/components/ButtonList.tsx
  apps/web/src/app/admin/buttons/page.tsx
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/page.test.tsx
  apps/web/src/components/AudioButtonDeleteButton.tsx
  apps/web/src/components/AudioButtonWithFavoriteClient.tsx
  apps/web/src/components/FeaturedAudioButtonsCarousel.test.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  docs/DEVELOPMENT.md
  docs/FIRESTORE_STRUCTURE.md
  docs/QUICK-REFERENCE.md
  docs/README.md
  docs/TERRAFORM_GUIDE.md
  packages/shared-types/package.json
  packages/shared-types/src/audio-button.ts
  packages/shared-types/tsconfig.json
  packages/typescript-config/README.md
  packages/ui/src/components/custom/simple-audio-button.stories.tsx
  packages/ui/src/components/custom/simple-audio-button.test.tsx
  pnpm-lock.yaml
  terraform/firestore_indexes.tf
Due: check, typecheck, test

feat: add dedicated admin app with 0-instance architecture
  .github/workflows/deploy-admin.yml
  CLAUDE.md
  apps/admin/Dockerfile
  apps/admin/README.md
  apps/admin/next.config.mjs
  apps/admin/package.json
  apps/admin/src/app/api/auth/[...nextauth]/route.ts
  apps/admin/src/app/globals.css
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/login/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/components/LoginButton.tsx
  apps/admin/src/env.d.ts
  apps/admin/src/lib/auth-types.ts
  apps/admin/src/lib/auth.ts
  apps/admin/src/lib/firestore.ts
  apps/admin/src/middleware.ts
  apps/admin/src/providers/session-provider.tsx
  apps/admin/tsconfig.json
  pnpm-lock.yaml
  terraform/admin_app.tf
  terraform/artifact_registry.tf
  terraform/secrets.tf
Due: check, typecheck, test

fix: migrate biome configuration to v2.0.6
  apps/functions/biome.json
  apps/web/biome.json
  biome.json
  packages/shared-types/biome.json
  packages/ui/biome.json
Due: check

feat: add dedicated admin app with 0-instance architecture
  apps/admin/package.json
  biome.json
  pnpm-lock.yaml
Due: check

fix: resolve Docker build issues for admin app
  apps/admin/Dockerfile
Due: none

fix: correct admin app Docker registry and port settings
  .github/workflows/deploy-admin.yml
  terraform/admin_app.tf
Due: none

feat: complete admin app infrastructure and remove DEFAULT_ADMIN_DISCORD_IDS
  apps/admin/src/lib/auth-client.ts
  terraform/admin_app.tf
  terraform/cloud_run.tf
  terraform/secrets.tf
  terraform/secrets_auth.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: check, typecheck, test

fix: correct Artifact Registry repository name in admin deploy workflow
  .github/workflows/deploy-admin.yml
Due: none

feat: add secret versions to Terraform configuration
  terraform/secrets.tf
Due: none

docs: update project documentation and configuration files
  CLAUDE.md
  apps/admin/src/app/login/page.tsx
  apps/admin/src/components/LoginButton.tsx
  apps/admin/src/lib/auth.ts
  apps/admin/src/middleware.ts
  apps/web/.env.example
  apps/web/scripts/README.md
  apps/web/scripts/setup-admin.ts
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/lib/user-firestore.ts
  docs/CHANGELOG.md
  docs/QUICK-REFERENCE.md
Due: check, typecheck, test

fix: add Secret Manager access permission for Cloud Run service account
  terraform/cloud_run.tf
Due: none

fix: enable public access to admin app for Discord authentication
  .github/workflows/deploy-admin.yml
  terraform/admin_app.tf
Due: none

feat: add custom domain admin.suzumina.click for admin app
  terraform/admin_app.tf
  terraform/dns.tf
Due: none

fix: temporarily disable CSP to resolve CSS loading issues in admin app
  apps/admin/next.config.mjs
Due: check

fix: add missing Tailwind CSS v4 dependencies and PostCSS config to admin app
  apps/admin/package.json
  apps/admin/postcss.config.mjs
Due: check

chore: update pnpm-lock.yaml with Tailwind CSS v4.1.11 dependencies
  pnpm-lock.yaml
Due: none

fix: add Tailwind CSS v4 @theme custom colors for admin app
  apps/admin/src/app/globals.css
Due: none

refactor: move Tailwind CSS to devDependencies and use shared globals.css in admin app
  apps/admin/package.json
  apps/admin/src/app/layout.tsx
  pnpm-lock.yaml
Due: check, typecheck, test

refactor: improve Firestore client management and project ID handling in admin app
  apps/admin/src/lib/auth.ts
  apps/admin/src/lib/firestore.ts
Due: check, typecheck, test

ci: add continue-on-error to SARIF upload in security scan workflow
  .github/workflows/security-scan.yml
Due: none

feat: re-enable CSP and add HSTS header to admin app
  apps/admin/next.config.mjs
Due: check

fix: use providerAccountId as Discord ID in admin auth
  apps/admin/src/lib/auth.ts
Due: check, typecheck, test

fix: resolve admin auth redirect loop and improve session handling
  apps/admin/src/lib/auth.ts
  apps/admin/src/middleware.ts
Due: check, typecheck, test

feat: add comprehensive admin management pages and navigation
  apps/admin/src/app/buttons/page.tsx
  apps/admin/src/app/contacts/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/users/page.tsx
  apps/admin/src/app/videos/page.tsx
  apps/admin/src/app/works/page.tsx
  apps/admin/src/components/AdminLayoutWrapper.tsx
  apps/admin/src/components/AdminNavigation.tsx
Due: check, typecheck, test

feat: add comprehensive testing infrastructure to admin app
  apps/admin/README-TESTING.md
  apps/admin/package.json
  apps/admin/src/__tests__/api/api-logic.test.ts
  apps/admin/src/__tests__/components/simple-components.test.tsx
  apps/admin/src/__tests__/integration/admin-workflow.test.ts
  apps/admin/src/__tests__/utils/auth.test.ts
  apps/admin/src/__tests__/utils/data-helpers.test.ts
  apps/admin/src/__tests__/utils/firestore.test.ts
  apps/admin/src/app/api/admin/buttons/[buttonId]/route.ts
  apps/admin/src/app/api/admin/contacts/[contactId]/route.ts
  apps/admin/src/app/api/admin/users/[userId]/route.ts
  apps/admin/src/app/api/admin/videos/[videoId]/route.ts
  apps/admin/src/app/api/admin/videos/refresh/route.ts
  apps/admin/src/app/api/admin/works/[workId]/route.ts
  apps/admin/src/app/api/admin/works/refresh/route.ts
  apps/admin/src/app/buttons/page.tsx
  apps/admin/src/app/videos/page.tsx
  apps/admin/src/app/works/page.tsx
  apps/admin/src/components/ButtonActionsCell.tsx
  apps/admin/src/components/DeleteDialog.tsx
  apps/admin/src/components/EditDialog.tsx
  apps/admin/src/components/RefreshButton.tsx
  apps/admin/src/components/VideoActionsCell.tsx
  apps/admin/src/components/WorkActionsCell.tsx
  apps/admin/src/test-setup.ts
  apps/admin/vitest.config.ts
  pnpm-lock.yaml
Due: check, typecheck, test

fix: update admin API routes for Next.js 15 compatibility
  apps/admin/src/app/api/admin/buttons/[buttonId]/route.ts
  apps/admin/src/app/api/admin/contacts/[contactId]/route.ts
  apps/admin/src/app/api/admin/users/[userId]/route.ts
  apps/admin/src/app/api/admin/videos/[videoId]/route.ts
  apps/admin/src/app/api/admin/works/[workId]/route.ts
Due: check, typecheck, test

feat: add interactive admin management components
  apps/admin/package.json
  apps/admin/src/app/contacts/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/users/page.tsx
  apps/admin/src/components/ContactDeleteDialog.tsx
  apps/admin/src/components/ContactDetailDialog.tsx
  apps/admin/src/components/ContactManagementClient.tsx
  apps/admin/src/components/UserDeleteDialog.tsx
  apps/admin/src/components/UserEditDialog.tsx
  apps/admin/src/components/UserManagementClient.tsx
  apps/admin/src/components/VideoDeleteDialog.tsx
  apps/admin/src/components/VideoEditDialog.tsx
  apps/admin/src/components/WorkDeleteDialog.tsx
  apps/admin/src/components/WorkEditDialog.tsx
  apps/admin/src/lib/toast.ts
  pnpm-lock.yaml
Due: check, typecheck, test

fix: resolve lint warnings in admin components
  apps/admin/src/app/contacts/page.tsx
  apps/admin/src/app/users/page.tsx
  apps/admin/src/components/ContactDeleteDialog.tsx
  apps/admin/src/components/ContactDetailDialog.tsx
  apps/admin/src/components/ContactManagementClient.tsx
  apps/admin/src/components/UserDeleteDialog.tsx
  apps/admin/src/components/UserEditDialog.tsx
  apps/admin/src/components/UserManagementClient.tsx
  apps/admin/src/components/VideoDeleteDialog.tsx
  apps/admin/src/components/VideoEditDialog.tsx
  apps/admin/src/components/WorkDeleteDialog.tsx
  apps/admin/src/components/WorkEditDialog.tsx
  apps/admin/vitest.config.ts
Due: check, typecheck, test

feat: complete admin functionality and v0 mock design implementation
  CLAUDE.md
  apps/web/src/__tests__/integration/basicComponentRendering.test.tsx
  apps/web/src/app/actions.test.ts
  apps/web/src/app/actions.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/SiteFooter.test.tsx
  apps/web/src/components/SiteFooter.tsx
  docs/CHANGELOG.md
  docs/TODO.md
Due: check, typecheck, test
