Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, typecheck-incremental

format-and-lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  fail_text: コードフォーマット・リントに失敗しました

typecheck-incremental:
  run: pnpm --filter @suzumina.click/shared-types typecheck
  fail_text: 型チェックに失敗しました

feat: Individual Info API Phase 2実装完了・URL正規化機能追加
  .vscode/settings.json
  CLAUDE.md
  apps/functions/src/services/dlsite/dlsite-api-mapper.ts
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
  apps/functions/src/services/dlsite/url-normalization.test.ts
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/actions.ts
  apps/web/src/app/works/components/WorkCard.tsx
  docs/DLSITE_API_ANALYSIS.md
  docs/FIRESTORE_STRUCTURE.md
  docs/README.md
  docs/UBIQUITOUS_LANGUAGE.md
  packages/shared-types/src/work-language-mapping.test.ts
  packages/shared-types/src/work.test.ts
  packages/shared-types/src/work.ts
Due: format-and-lint, typecheck-incremental

debug: collect:complete-localスクリプトの変換エラー詳細調査強化
  apps/functions/src/development/core/local-complete-collector.ts
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
Due: format-and-lint, typecheck-incremental

fix: Individual Info APIマッパーの欠損データ耐性強化
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
  apps/functions/src/services/dlsite/url-normalization.test.ts
Due: format-and-lint, typecheck-incremental

fix: バッチマッピング関数の型安全性修正
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
Due: format-and-lint, typecheck-incremental

fix: Firestore空文字列エラー完全解決・再帰的サニタイゼーション機能実装
  apps/functions/src/development/core/local-complete-collector.ts
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
  apps/functions/src/services/dlsite/url-normalization.test.ts
Due: format-and-lint, typecheck-incremental

docs: CLAUDE.mdにpnpm必須・npm禁止を明記
  CLAUDE.md
Due: none

feat: Google AdSense統合完了
  .github/workflows/deploy-cloud-run.yml
  apps/web/src/app/layout.tsx
  apps/web/src/components/analytics/google-adsense-script.test.tsx
  apps/web/src/components/analytics/google-adsense-script.tsx
  terraform/cloud_run.tf
  terraform/variables.tf
Due: format-and-lint, typecheck-incremental

fix: AdSenseスクリプト検出問題修正
  apps/web/src/components/analytics/google-adsense-script.test.tsx
  apps/web/src/components/analytics/google-adsense-script.tsx
Due: format-and-lint, typecheck-incremental

feat: プライバシーポリシー・利用規約をAdSense導入に対応
  apps/web/src/app/privacy/page.tsx
  apps/web/src/app/terms/page.tsx
Due: format-and-lint, typecheck-incremental

fix: CSPにGoogle AdSenseドメインを追加
  apps/web/next.config.mjs
Due: format-and-lint

fix: CSP構文エラー修正
  apps/web/next.config.mjs
Due: format-and-lint

fix: AdSenseアクセス制御用CSPドメイン追加
  apps/web/next.config.mjs
Due: format-and-lint

fix: クッキー同意システムの「すべて許可」機能修正
  apps/web/src/app/settings/components/SettingsPageContent.tsx
  apps/web/src/components/consent/cookie-consent-banner.tsx
  apps/web/src/components/consent/cookie-preferences-panel.tsx
  apps/web/src/lib/consent/google-consent-mode.ts
Due: format-and-lint, typecheck-incremental

refactor: 設定ページCookie設定をフッター誘導型に変更
  apps/web/src/app/settings/components/SettingsPageContent.tsx
  apps/web/src/components/consent/cookie-settings-link.tsx
Due: format-and-lint, typecheck-incremental

fix: AdSense script-src CSPドメイン追加
  apps/web/next.config.mjs
  apps/web/src/app/settings/components/SettingsPageContent.tsx
Due: format-and-lint, typecheck-incremental

fix: クッキー設定パネルの状態同期修正
  apps/web/src/components/consent/cookie-preferences-panel.tsx
Due: format-and-lint, typecheck-incremental

perf: Cloud Runパフォーマンス最適化・レイテンシ改善
  terraform/cloud_run.tf
  terraform/locals.tf
Due: none

perf: Cloud Runインスタンス大幅最適化・リソース強化
  terraform/cloud_run.tf
  terraform/locals.tf
Due: none

fix: AdSense frame-src CSPドメイン追加
  apps/web/next.config.mjs
Due: format-and-lint

fix: YouTube connect-src CSPドメイン追加
  apps/web/next.config.mjs
Due: format-and-lint

security: GitHub Actions権限設定追加・CodeQLアラート対応
  .github/workflows/lightweight-pr-check.yml
Due: none

perf: ホームページパフォーマンス大幅最適化実装
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/content/featured-videos-carousel.tsx
  apps/web/src/components/content/featured-works-carousel.tsx
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/components/optimization/lazy-components.tsx
  apps/web/src/components/optimization/loading-fallback.tsx
  apps/web/src/components/ui/thumbnail-image.tsx
  packages/ui/src/components/custom/generic-carousel.tsx
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

perf: Image & Font最適化システム強化・Critical CSS実装完了
  apps/web/next.config.mjs
  apps/web/src/app/layout.tsx
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/components/layout/site-header.tsx
  packages/ui/src/styles/globals.css
Due: format-and-lint, typecheck-incremental

security: 未使用Discord BOTトークン関連設定の完全削除
  CLAUDE.md
  apps/web/.env.example
  apps/web/src/env.d.ts
  terraform/cloud_run.tf
  terraform/secrets.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: format-and-lint, typecheck-incremental

fix: Next.js画像設定の重複プロパティ削除・Docker build エラー解決
  apps/web/next.config.mjs
Due: format-and-lint

feat: 音声ボタン作成機能の0.1秒精度対応とUI改善
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/components/audio/audio-button-creator.tsx
Due: format-and-lint, typecheck-incremental

feat: 音声ボタン0.1秒精度システム完全実装・包括的テスト追加
  apps/admin/src/app/buttons/page.tsx
  apps/web/src/components/audio/audio-button-creator.test.tsx
  apps/web/src/components/audio/audio-button-creator.tsx
  apps/web/vitest.setup.ts
  packages/shared-types/src/audio-button.ts
  packages/ui/src/components/custom/youtube-player.tsx
Due: format-and-lint, typecheck-incremental

feat: apps/admin UI完全リニューアル・packages/ui統合・テスト修正
  apps/admin/src/app/page.tsx
  apps/admin/src/app/users/page.tsx
  apps/admin/src/components/common/__tests__/form-dialog.test.tsx
  apps/admin/src/components/common/form-dialog.tsx
  apps/admin/src/components/ui/stat-card.tsx
Due: format-and-lint, typecheck-incremental

release: v0.3.3リリース準備完了
  CLAUDE.md
  README.md
  apps/admin/README.md
  apps/admin/package.json
  apps/functions/README.md
  apps/functions/package.json
  apps/web/package.json
  docs/CHANGELOG.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEVELOPMENT.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/TODO.md
  package.json
  packages/shared-types/package.json
  packages/typescript-config/package.json
  packages/ui/README.md
  packages/ui/package.json
Due: format-and-lint

feat: terraform大幅コスト最適化・不要リソース削除・Makefile廃止
  CLAUDE.md
  terraform/Makefile
  terraform/README.md
  terraform/cloud_run.tf
  terraform/function_dlsite_individual_info_api.tf
  terraform/locals.tf
  terraform/monitoring_performance.tf
  terraform/network.tf
  terraform/scheduler.tf
  terraform/scheduler_dlsite_health.tf
  terraform/scripts/import-firestore-indexes.sh
  terraform/scripts/list-firestore-indexes.sh
  terraform/scripts/simple-firestore-import.sh
  terraform/scripts/tf-lock-check.sh
Due: none

feat: 音声ボタンシステム高度最適化・お気に入り一括取得・無限ループ修正
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/videos/page.tsx
  apps/web/src/app/works/page.tsx
  apps/web/src/components/audio/audio-button-with-favorite-client.tsx
  apps/web/src/components/content/works-page-client.tsx
  apps/web/src/hooks/useFavoriteStatusBulk.test.ts
  apps/web/src/hooks/useFavoriteStatusBulk.ts
  docs/AUDIO_BUTTON_OPTIMIZATION.md
  packages/ui/src/components/custom/audio-button.test.tsx
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/custom/audio-player.test.tsx
  packages/ui/src/components/custom/audio-player.tsx
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/list-display-controls.tsx
  packages/ui/src/lib/youtube-player-pool.test.ts
  packages/ui/src/lib/youtube-player-pool.ts
Due: format-and-lint, typecheck-incremental

feat: Phase 2完全実装・TypeScript品質保証・パフォーマンス最適化完了
  apps/web/package.json
  docs/AUDIO_BUTTON_OPTIMIZATION.md
  packages/ui/package.json
  packages/ui/src/components/custom/audio-button-performance-test.test.tsx
  packages/ui/src/components/custom/audio-button-performance-test.tsx
  packages/ui/src/components/custom/audio-button-preview.test.tsx
  packages/ui/src/components/custom/audio-button-preview.tsx
  packages/ui/src/components/custom/audio-button-skeleton.test.tsx
  packages/ui/src/components/custom/audio-button-skeleton.tsx
  packages/ui/src/components/custom/audio-button.test.tsx
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/large-dataset-integration-test.test.tsx
  packages/ui/src/components/custom/large-dataset-integration-test.tsx
  packages/ui/src/components/custom/progressive-audio-button-list.test.tsx
  packages/ui/src/components/custom/progressive-audio-button-list.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.test.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.tsx
  packages/ui/src/test-utils/README.md
  packages/ui/src/test-utils/index.ts
  packages/ui/src/test-utils/performance-benchmark.test.ts
  packages/ui/src/test-utils/performance-benchmark.ts
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

fix: remove deprecated DISCORD_BOT_TOKEN from Cloud Run deployment
  .github/workflows/deploy-cloud-run.yml
Due: none

feat: Zod 4アップデート対応 - ZodError.errorsをZodError.issuesに変更
  apps/web/src/app/actions/contact-actions.ts
  apps/web/src/app/actions/user-actions.ts
  apps/web/src/app/actions/work-actions.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/search/actions.ts
  docs/AUDIO_BUTTON_OPTIMIZATION.md
  packages/shared-types/src/common.ts
Due: format-and-lint, typecheck-incremental

feat: enable admin app infrastructure
  terraform/admin_app.tf
Due: none

fix: Zod 4 type compatibility for ValidationError path filtering
  packages/shared-types/src/common.ts
Due: format-and-lint, typecheck-incremental

fix: Zod 4 z.record syntax update in video schema
  packages/shared-types/src/video.ts
Due: format-and-lint, typecheck-incremental

Path conditions:
  format-and-lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck-incremental: any of: *.{ts,tsx}
