Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, typecheck-incremental

lefthook.yml:

# 開発フロー重視のlefthook設定

pre-commit:
  commands:
    # 1. コードフォーマット・リント（自動修正付き）
    format-and-lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. 型チェック（変更ファイルに影響する範囲のみ）
    typecheck-incremental:
      glob: "*.{ts,tsx}"
      run: pnpm --filter @suzumina.click/shared-types typecheck
      fail_text: "型チェックに失敗しました"

pre-push:
  commands:
    # 1. 共有型のビルド確認（依存関係の整合性保証）
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"
    
    # 2. 全体の型チェック（プッシュ前の品質保証）
    typecheck-all:
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 基本テスト（shared-typesのみ - 最重要）
    test-shared-types:
      run: pnpm --filter @suzumina.click/shared-types test
      fail_text: "共有型のテストに失敗しました"

feat: implement Server Actions V2 for Video and AudioButton entities
  apps/web/package.json
  apps/web/src/actions/__tests__/audio-button-actions-v2.test.ts
  apps/web/src/actions/audio-button-actions-v2.ts
  apps/web/src/actions/video-actions-v2.ts
  apps/web/src/lib/video-firestore.ts
  apps/web/vitest.config.ts
Due: format-and-lint, typecheck-incremental

feat: Server Actions V2 implementation (Phase 6, PR #14) (#110)
  apps/web/package.json
  apps/web/src/actions/__tests__/audio-button-actions-v2.test.ts
  apps/web/src/actions/__tests__/video-actions-v2.test.ts
  apps/web/src/actions/audio-button-actions-v2.ts
  apps/web/src/actions/video-actions-v2.ts
  apps/web/src/lib/video-firestore.ts
  apps/web/vitest.config.ts
  apps/web/vitest.server.config.ts
  docs/DOMAIN_MODEL.md
  docs/DOMAIN_OBJECT_CATALOG.md
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: format-and-lint, typecheck-incremental

feat(functions): Cloud Functions更新 (Video) - YouTube Sync V2実装
  apps/functions/src/endpoints/__tests__/youtube-sync-v2.test.ts
  apps/functions/src/endpoints/youtube-sync-v2.ts
  apps/functions/src/services/mappers/__tests__/audio-button-mapper-v2.test.ts
  apps/functions/src/services/mappers/audio-button-mapper-v2.ts
  apps/functions/src/services/youtube/__tests__/youtube-service-v2.test.ts
  apps/functions/src/services/youtube/youtube-service-v2.ts
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: format-and-lint, typecheck-incremental

docs: PR #15の完了状態を記録
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: none

feat: Entity V2 Migration Script - バッチ移行スクリプト実装 (Phase 6, PR #17)
  apps/functions/package.json
  apps/functions/src/scripts/__tests__/migrate-to-v2.test.ts
  apps/functions/src/scripts/migrate-to-v2.ts
  apps/functions/src/services/migration/__tests__/dry-run-report.test.ts
  apps/functions/src/services/migration/__tests__/entity-v2-migration.test.ts
  apps/functions/src/services/migration/dry-run-report.ts
  apps/functions/src/services/migration/entity-v2-migration.ts
  apps/functions/src/services/migration/index.ts
  apps/functions/src/services/migration/types.ts
Due: format-and-lint, typecheck-incremental

feat: Entity V2 Migration Script - バッチ移行スクリプト実装 (Phase 6, PR #17) (#111)
  apps/functions/package.json
  apps/functions/src/scripts/__tests__/migrate-to-v2.test.ts
  apps/functions/src/scripts/migrate-to-v2.ts
  apps/functions/src/services/migration/__tests__/dry-run-report.test.ts
  apps/functions/src/services/migration/__tests__/entity-v2-migration.test.ts
  apps/functions/src/services/migration/dry-run-report.ts
  apps/functions/src/services/migration/entity-v2-migration.ts
  apps/functions/src/services/migration/index.ts
  apps/functions/src/services/migration/types.ts
Due: format-and-lint, typecheck-incremental

feat: implement feature flags for Entity V2 rollout (Phase 7, PR #18)
  apps/web/src/lib/__tests__/feature-flags.test.ts
  apps/web/src/lib/feature-flags.ts
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
  packages/shared-types/src/config/__tests__/feature-flags.test.ts
  packages/shared-types/src/config/feature-flags.ts
  packages/shared-types/src/config/index.ts
  packages/shared-types/src/index.ts
Due: format-and-lint, typecheck-incremental

fix: GitHub Copilotレビュー対応
  apps/web/src/lib/feature-flags.ts
Due: format-and-lint, typecheck-incremental

feat: Feature Flags Implementation for Entity V2 Rollout (Phase 7, PR #18) (#112)
  apps/web/src/lib/__tests__/feature-flags.test.ts
  apps/web/src/lib/feature-flags.ts
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
  packages/shared-types/src/config/__tests__/feature-flags.test.ts
  packages/shared-types/src/config/feature-flags.ts
  packages/shared-types/src/config/index.ts
  packages/shared-types/src/index.ts
Due: format-and-lint, typecheck-incremental

docs: PR #18完了状態を記録、Phase 7進捗を更新
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: none

feat: Production Migration Scripts for Entity V2 (Phase 7, PR #19)
  apps/functions/package.json
  apps/functions/src/services/migration/__tests__/migration-scripts.test.ts
  apps/functions/src/services/migration/backup-firestore.ts
  apps/functions/src/services/migration/execute-v2-migration.ts
  apps/functions/src/services/migration/rollback-v2-migration.ts
  apps/functions/src/services/migration/validate-v2-migration.ts
  apps/functions/src/services/migration/validate-v2-migration.ts.bak
  docs/ENTITY_V2_MIGRATION_GUIDE.md
Due: format-and-lint, typecheck-incremental

fix: バックアップファイル(.bak)を削除
  apps/functions/src/services/migration/validate-v2-migration.ts.bak
Due: none

feat: Production Migration Scripts for Entity V2 (Phase 7, PR #19) (#113)
  apps/functions/package.json
  apps/functions/src/services/migration/__tests__/migration-scripts.test.ts
  apps/functions/src/services/migration/backup-firestore.ts
  apps/functions/src/services/migration/execute-v2-migration.ts
  apps/functions/src/services/migration/rollback-v2-migration.ts
  apps/functions/src/services/migration/validate-v2-migration.ts
  docs/ENTITY_V2_MIGRATION_GUIDE.md
Due: format-and-lint, typecheck-incremental

docs: PR #19完了状態を記録、Phase 7進捗を更新
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: none

feat: Entity V2実使用開始 - フィーチャーフラグ統合 (Phase 7, PR #20)
  apps/web/.env.example
  apps/web/src/app/actions.ts
  apps/web/src/app/buttons/actions-v2.ts
  apps/web/src/app/videos/actions-v2.ts
  apps/web/src/lib/feature-flags.ts
  docs/ENTITY_V2_REMAINING_TASKS.md
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: format-and-lint, typecheck-incremental

fix: Entity V2実装の型エラーを修正
  apps/web/src/app/actions.ts
  apps/web/src/app/buttons/actions-v2.ts
  apps/web/src/app/videos/actions-v2.ts
  apps/web/src/lib/feature-flags.ts
Due: format-and-lint, typecheck-incremental

fix: React Hooksをclient componentに分離
  apps/web/src/hooks/use-feature-flag.ts
  apps/web/src/lib/feature-flags.ts
Due: format-and-lint, typecheck-incremental

fix: Firestoreインデックスエラーを回避
  apps/web/src/app/videos/actions-v2.ts
Due: format-and-lint, typecheck-incremental

fix: サムネイル画像のエラーハンドリングを改善
  apps/web/public/images/no-thumbnail.svg
  apps/web/src/hooks/use-video-v2.ts
Due: format-and-lint, typecheck-incremental

fix: 本番環境のテストデータを削除
  apps/web/src/app/videos/actions-v2.ts
Due: format-and-lint, typecheck-incremental

feat: Firestoreデータバリデーションシステムを実装
  apps/web/src/lib/__tests__/firestore-safety.test.ts
  apps/web/src/lib/firestore-safety.ts
Due: format-and-lint, typecheck-incremental

test: Entity V2テストが全て通るように修正完了
  apps/web/src/lib/feature-flags.ts
Due: format-and-lint, typecheck-incremental

refactor: デフォルトサムネイルパスを定数化
  apps/web/src/hooks/use-video-v2.ts
  apps/web/src/lib/constants.ts
Due: format-and-lint, typecheck-incremental

feat: 本番環境でEntity V2を有効化
  .github/workflows/deploy-cloud-run.yml
  scripts/enable-entity-v2.sh
Due: none

chore: 不要なenable-entity-v2.shスクリプトを削除
  scripts/enable-entity-v2.sh
Due: none

feat: Cloud Functions Entity V2対応 (Phase 7, PR #21)
  .github/workflows/deploy-functions.yml
  apps/functions/src/config/__tests__/feature-flags.test.ts
  apps/functions/src/config/feature-flags.ts
  apps/functions/src/endpoints/__tests__/youtube.test.ts
  apps/functions/src/endpoints/youtube.ts
  apps/functions/src/services/youtube/__tests__/youtube-firestore-v2.test.ts
  apps/functions/src/services/youtube/youtube-firestore-v2.ts
Due: format-and-lint, typecheck-incremental

fix: Cloud Functions Entity V2の型エラーを修正
  apps/functions/src/services/mappers/video-mapper-v2.ts
  apps/functions/src/services/youtube/youtube-firestore-v2.ts
  packages/shared-types/src/entities/video.ts
Due: format-and-lint, typecheck-incremental

fix: Copilotレビュー対応
  apps/functions/src/config/feature-flags.ts
  apps/functions/src/endpoints/__tests__/youtube.test.ts
  apps/functions/src/services/youtube/youtube-firestore-v2.ts
Due: format-and-lint, typecheck-incremental

fix: 追加のCopilotレビュー対応
  apps/functions/src/config/__tests__/feature-flags.test.ts
  apps/functions/src/endpoints/__tests__/youtube.test.ts
Due: format-and-lint, typecheck-incremental

feat: PR #22 - 旧コード非推奨化
  apps/functions/src/services/youtube/youtube-firestore.ts
  apps/web/src/app/videos/actions.ts
  docs/DEPRECATED_APIS.md
Due: format-and-lint, typecheck-incremental

feat: 旧Entity V1コードを削除
  apps/functions/src/endpoints/youtube.ts
  apps/functions/src/services/youtube/__tests__/youtube-firestore.test.ts
  apps/functions/src/services/youtube/youtube-firestore.ts
  apps/web/src/app/__tests__/actions.test.ts
  apps/web/src/app/actions.ts
  apps/web/src/app/videos/__tests__/actions.test.ts
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/page.tsx
  docs/DEPRECATED_APIS.md
  packages/shared-types/src/entities/video-v2.ts
Due: format-and-lint, typecheck-incremental

fix: V1参照の残りを修正し、不足していたgetVideoByIdV2を追加
  apps/web/src/app/buttons/[id]/edit/page.tsx
  apps/web/src/app/buttons/create/page.tsx
  apps/web/src/app/videos/[videoId]/page.tsx
  apps/web/src/app/videos/actions-v2.ts
  apps/web/src/app/videos/page.tsx
  apps/web/src/components/audio-button-detail/video-card-wrapper.tsx
Due: format-and-lint, typecheck-incremental

fix: 動画の日付表示が現在時刻になる問題を修正
  apps/web/src/app/actions/video-actions.ts
  apps/web/src/app/videos/actions-v2.ts
  apps/web/src/app/videos/actions.ts
Due: format-and-lint, typecheck-incremental

fix: テスト実行時の本番Firestore接続を防ぐ
  .github/workflows/deploy-functions.yml
  apps/functions/src/infrastructure/database/firestore.ts
  package.json
  pnpm-lock.yaml
  scripts/remove-test-data.js
Due: format-and-lint, typecheck-incremental

fix: 本番環境のテストデータを削除
  scripts/remove-test-data.js
Due: format-and-lint

cleanup: 不要なテストデータ削除スクリプトを削除
  scripts/remove-test-data.js
Due: format-and-lint

fix: Firestoreの年フィルタリングを修正
  apps/web/src/app/videos/__tests__/actions.test.ts
  apps/web/src/app/videos/actions.ts
Due: format-and-lint, typecheck-incremental

fix: Functions test failures due to Firestore lazy evaluation
  apps/functions/src/endpoints/__tests__/youtube-sync-v2.test.ts
  apps/functions/src/infrastructure/database/__tests__/firestore.test.ts
  apps/functions/src/services/migration/__tests__/cleanup-legacy-fields.test.ts
  apps/functions/src/services/migration/__tests__/migration-scripts.test.ts
Due: format-and-lint, typecheck-incremental

docs: Entity V2移行の完了状況を反映
  docs/ENTITY_VALUE_OBJECT_PR_BREAKDOWN.md
Due: none
