Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, typecheck-incremental

format-and-lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  fail_text: コードフォーマット・リントに失敗しました

typecheck-incremental:
  run: pnpm --filter @suzumina.click/shared-types typecheck
  fail_text: 型チェックに失敗しました

fix: Zod 4 z.record syntax update in work schema
  packages/shared-types/src/work.ts
Due: format-and-lint, typecheck-incremental

fix: Biome lint complexity violations - refactor high complexity functions
  apps/web/src/app/actions/video-actions.ts
  apps/web/src/app/actions/work-actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/search/search-page-content.tsx
  apps/web/src/components/audio/audio-button-creator.tsx
Due: format-and-lint, typecheck-incremental

fix: temporarily change complexity and any rules to warn for deployment
  apps/web/biome.json
Due: format-and-lint

fix: Zod 4 compatibility issues in contact form
  apps/web/biome.json
  apps/web/src/app/contact/actions.ts
  apps/web/src/app/contact/components/ContactForm.tsx
Due: format-and-lint, typecheck-incremental

fix: improve Google Analytics type safety in consent mode
  apps/web/src/lib/consent/google-consent-mode.ts
Due: format-and-lint, typecheck-incremental

fix: remove duplicate gtag type declaration
  apps/web/src/components/consent/cookie-consent-banner.tsx
Due: format-and-lint, typecheck-incremental

refactor: reduce complexity in works filtering and similarity functions
  apps/web/src/app/works/actions.ts
  apps/web/src/components/content/works-page-client.tsx
Due: format-and-lint, typecheck-incremental

refactor: reduce complexity in user management functions with proper types
  apps/web/src/app/actions/user-actions.ts
Due: format-and-lint, typecheck-incremental

refactor: reduce cognitive complexity across multiple functions
  apps/web/src/app/actions/contact-actions.ts
  apps/web/src/app/actions/user-actions.ts
  apps/web/src/app/actions/video-actions.ts
  apps/web/src/app/actions/work-actions.ts
  apps/web/src/components/consent/consent-debugger.tsx
Due: format-and-lint, typecheck-incremental

fix: Zod 4 enum API compatibility in ContactForm
  apps/web/src/app/contact/components/ContactForm.tsx
Due: format-and-lint, typecheck-incremental

feat: add Cloud Functions cleanup to Artifact Registry workflow
  .github/workflows/artifact-registry-cleanup.yml
Due: none

fix: remove head limit in Cloud Functions cleanup to process all images
  .github/workflows/artifact-registry-cleanup.yml
Due: none

fix: Cloud Functions Artifact Registry cleanup IMAGE@DIGEST format issue
  .github/workflows/artifact-registry-cleanup.yml
Due: none

fix: correct Docker image cleanup logic in Cloud Run deployment
  .github/workflows/deploy-cloud-run.yml
Due: none

fix: correct Docker image cleanup logic in Admin deployment workflow
  .github/workflows/deploy-admin.yml
Due: none

feat: add Cloud Functions Artifact Registry repository management
  terraform/artifact_registry.tf
Due: none

feat: implement shadcn/ui management strategy and UI testing framework
  apps/web/e2e/responsive.spec.ts
  apps/web/src/app/buttons/page.test.tsx
  docs/SHADCN_UI_MANAGEMENT_STRATEGY.md
  docs/UI_TESTING_STRATEGY.md
  packages/ui/src/components/custom/audio-button-preview.stories.tsx
  packages/ui/src/components/custom/audio-button-skeleton.stories.tsx
  packages/ui/src/components/custom/audio-button.stories.tsx
  packages/ui/src/components/custom/audio-only-player.stories.tsx
  packages/ui/src/components/custom/audio-only-player.test.tsx
  packages/ui/src/components/custom/audio-only-player.tsx
  packages/ui/src/components/custom/audio-player.stories.tsx
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/simple-audio-button.stories.tsx
  packages/ui/src/components/custom/simple-audio-button.test.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: format-and-lint, typecheck-incremental

feat: implement shadcn/ui management system and fix AudioButton click areas
  packages/ui/CUSTOMIZATIONS.md
  packages/ui/UPDATE_CHECKLIST.md
  packages/ui/check-shadcn-updates.sh
  packages/ui/package.json
  packages/ui/src/components/custom/audio-button.test.tsx
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/ui/dialog.test.tsx
Due: format-and-lint, typecheck-incremental

docs: archive completed projects and update documentation
  CLAUDE.md
  docs/CHANGELOG.md
  docs/DEVELOPMENT.md
  docs/SHADCN_UI_MANAGEMENT_STRATEGY.md
  docs/archive/2025-07-audio-button-optimization/AUDIO_BUTTON_OPTIMIZATION.md
  docs/archive/2025-07-audio-button-optimization/README.md
  docs/archive/2025-07-shadcn-ui-management/CUSTOMIZATIONS.md
  docs/archive/2025-07-shadcn-ui-management/README.md
  docs/archive/2025-07-shadcn-ui-management/SHADCN_UI_MANAGEMENT_STRATEGY.md
  docs/archive/2025-07-shadcn-ui-management/UI_TESTING_STRATEGY.md
  docs/archive/2025-07-shadcn-ui-management/UPDATE_CHECKLIST.md
  docs/archive/2025-07-shadcn-ui-management/check-shadcn-updates.sh
Due: none

feat: implement email sending functionality with Resend
  apps/web/package.json
  apps/web/src/app/contact/actions.ts
  apps/web/src/lib/email.ts
  packages/shared-types/src/video.test.ts
  pnpm-lock.yaml
  terraform/cloud_run.tf
  terraform/dns.tf
  terraform/secrets.tf
  terraform/variables.tf
Due: format-and-lint, typecheck-incremental

docs: update example configuration files for email functionality
  apps/web/.env.example
  terraform/terraform.tfvars.example
Due: none

fix: add email environment variables to Cloud Run deployment
  .github/workflows/deploy-cloud-run.yml
Due: none

fix: use verified domain for email sending
  apps/web/src/lib/email.ts
Due: format-and-lint, typecheck-incremental

perf: optimize home page performance with ISR and content-visibility
  apps/web/src/app/page.tsx
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/components/system/protected-route.tsx
Due: format-and-lint, typecheck-incremental

perf: optimize data loading with critical path prioritization
  apps/web/src/app/page.tsx
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/components/optimization/lazy-components.tsx
  apps/web/src/components/sections/videos-section.tsx
  apps/web/src/components/sections/works-section.tsx
Due: format-and-lint, typecheck-incremental

fix: resolve carousel loading layout shift issues
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/components/sections/videos-section.tsx
  apps/web/src/components/sections/works-section.tsx
Due: format-and-lint, typecheck-incremental

perf: implement comprehensive image optimization for improved LCP
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/components/ui/thumbnail-image.tsx
  apps/web/src/components/user/user-avatar.tsx
Due: format-and-lint, typecheck-incremental

perf: implement bundle optimization and parallel loading system
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/components/audio/featured-audio-buttons-carousel.test.tsx
  apps/web/src/components/audio/featured-audio-buttons-carousel.tsx
  apps/web/src/components/content/featured-videos-carousel.tsx
  apps/web/src/components/content/featured-works-carousel.tsx
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/components/optimization/lazy-components.tsx
  apps/web/src/components/sections/parallel-sections-container.tsx
  apps/web/src/components/sections/videos-section.tsx
  apps/web/src/components/sections/works-section.tsx
  apps/web/src/components/ui/thumbnail-image.tsx
  apps/web/src/constants/ui-messages.ts
  apps/web/src/hooks/use-parallel-section-data.ts
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

feat: remove Google AdSense integration completely
  apps/web/.env.example
  apps/web/next.config.mjs
  apps/web/src/app/layout.tsx
  apps/web/src/app/privacy/page.tsx
  apps/web/src/app/terms/page.tsx
  apps/web/src/components/analytics/google-adsense-script.test.tsx
  apps/web/src/components/analytics/google-adsense-script.tsx
  apps/web/src/components/consent/cookie-preferences-panel.tsx
  apps/web/src/lib/consent/google-consent-mode.ts
  terraform/cloud_run.tf
  terraform/variables.tf
Due: format-and-lint, typecheck-incremental

feat: remove Amazon Associates integration
  apps/web/.env.example
  apps/web/src/app/terms/page.tsx
  apps/web/src/components/consent/cookie-preferences-panel.tsx
Due: format-and-lint, typecheck-incremental

feat: remove consent debugger component
  apps/web/src/app/layout.tsx
  apps/web/src/components/consent/consent-debugger.tsx
Due: format-and-lint, typecheck-incremental

fix: remove blur effect from placeholder images
  apps/web/src/components/ui/thumbnail-image.tsx
Due: format-and-lint, typecheck-incremental

docs: update to v0.3.4 - non-profit operation & UI optimization
  CLAUDE.md
  docs/CHANGELOG.md
  docs/DEVELOPMENT.md
  docs/QUICK_REFERENCE.md
  docs/UBIQUITOUS_LANGUAGE.md
  packages/ui/src/components/custom/loading-skeleton.test.tsx
  packages/ui/src/components/custom/loading-skeleton.tsx
Due: format-and-lint, typecheck-incremental

feat: implement comprehensive dislike functionality with YouTube-style UI
  apps/web/src/actions/dislikes.test.ts
  apps/web/src/actions/dislikes.ts
  apps/web/src/actions/likes.ts
  apps/web/src/app/actions.test.ts
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/page.test.tsx
  apps/web/src/components/audio/audio-button-with-favorite-client.tsx
  apps/web/src/components/audio/favorite-button.tsx
  apps/web/src/components/audio/featured-audio-buttons-carousel.test.tsx
  apps/web/src/components/audio/index.ts
  apps/web/src/components/audio/like-button.tsx
  apps/web/src/components/audio/like-dislike-buttons.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  apps/web/src/lib/favorites-firestore.ts
  apps/web/src/lib/logger.ts
  packages/shared-types/src/audio-button.test.ts
  packages/shared-types/src/audio-button.ts
  packages/ui/src/components/custom/audio-button-performance-test.tsx
  packages/ui/src/components/custom/audio-button-preview.stories.tsx
  packages/ui/src/components/custom/audio-button-preview.test.tsx
  packages/ui/src/components/custom/audio-button.stories.tsx
  packages/ui/src/components/custom/audio-button.test.tsx
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/custom/audio-player.stories.tsx
  packages/ui/src/components/custom/audio-player.test.tsx
  packages/ui/src/components/custom/large-dataset-integration-test.tsx
  packages/ui/src/components/custom/progressive-audio-button-list.test.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.test.tsx
  packages/ui/src/test-utils/performance-benchmark.ts
Due: format-and-lint, typecheck-incremental

feat: implement Phase 1-3 of 3-layer video tagging system
  apps/functions/src/assets/dlsite-work-ids.json
  apps/functions/src/endpoints/youtube.test.ts
  apps/functions/src/endpoints/youtube.ts
  apps/functions/src/infrastructure/monitoring/youtube-quota-monitor.ts
  apps/functions/src/services/youtube/youtube-api.ts
  apps/functions/src/services/youtube/youtube-firestore.ts
  apps/web/src/actions/user-tags.ts
  apps/web/src/app/actions/video-actions.ts
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
  apps/web/src/app/videos/[videoId]/components/VideoUserTagEditor.tsx
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/lib/video-firestore.ts
  docs/VIDEO_TAGS_DESIGN.md
  packages/shared-types/src/video.test.ts
  packages/shared-types/src/video.ts
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/tag-input.tsx
  packages/ui/src/components/custom/tag-list.tsx
  packages/ui/src/components/custom/three-layer-tag-display.tsx
  packages/ui/src/components/custom/user-tag-editor.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/youtube-category-utils.ts
Due: format-and-lint, typecheck-incremental

feat: complete Phase 4-5 of 3-layer video tagging system
  apps/admin/src/app/actions/video-actions.ts
  apps/admin/src/app/playlist-tags/page.tsx
  apps/admin/src/app/videos/page.tsx
  apps/admin/src/components/management/PlaylistTagManagementInterface.tsx
  apps/admin/src/components/management/ThreeLayerTagStatsDisplay.tsx
  apps/web/src/app/actions.ts
  apps/web/src/app/search/search-page-content.tsx
  apps/web/src/app/videos/[videoId]/components/VideoUserTagEditor.tsx
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/app/videos/page.tsx
  apps/web/src/components/search/search-filters.test.tsx
  apps/web/src/components/search/search-filters.tsx
  docs/UBIQUITOUS_LANGUAGE.md
  docs/archive/2025-07-video-tags-implementation/README.md
  docs/archive/2025-07-video-tags-implementation/VIDEO_TAGS_DESIGN.md
  packages/shared-types/src/search-filters.test.ts
  packages/shared-types/src/search-filters.ts
Due: format-and-lint, typecheck-incremental

fix: preserve quoted Japanese object keys to prevent build failure
  apps/web/src/app/videos/actions.ts
Due: format-and-lint, typecheck-incremental

feat: implement video type classification and copyright-based audio button restrictions
  apps/web/src/app/videos/components/VideoCard.test.tsx
  apps/web/src/app/videos/components/VideoCard.tsx
  docs/YOUTUBE_VIDEO_CLASSIFICATION.md
  packages/shared-types/src/video.ts
Due: format-and-lint, typecheck-incremental

feat: implement 15-minute rule for premiere video detection
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoCard.tsx
  packages/shared-types/src/video.test.ts
  packages/shared-types/src/video.ts
Due: format-and-lint, typecheck-incremental

Path conditions:
  format-and-lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck-incremental: any of: *.{ts,tsx}
