Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck, test

lefthook.yml:

pre-commit:
  commands:
    # 1. コードフォーマット・リント (Biome)
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. TypeScript型チェック
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 関連テストの実行
    test:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm test --run --reporter=verbose --passWithNoTests
      fail_text: "テストが失敗しました"
      skip: true  # 必要に応じてコメントアウト
    
    # 4. セキュリティ監査 (週1回程度で十分な場合はskip: trueにする)
    audit:
      run: pnpm audit --audit-level moderate
      fail_text: "セキュリティ脆弱性が検出されました"
      skip: true  # 必要に応じてコメントアウト

pre-push:
  commands:
    # プッシュ前の最終チェック
    final-check:
      run: pnpm check && pnpm test:coverage
      fail_text: "最終チェックに失敗しました"
    
    # 共有型のビルド確認
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"

feat: complete audio reference system with Cloud Run deployment
  .dockerignore
  apps/web/.dockerignore
  apps/web/.github/workflows/deploy-cloud-run.yml
  apps/web/DEPLOYMENT.md
  apps/web/Dockerfile
  apps/web/cloud-run.yaml
  apps/web/e2e/audio-buttons.spec.ts
  apps/web/e2e/audio-reference.spec.ts
  apps/web/package.json
  apps/web/scripts/docker-build.sh
  apps/web/scripts/docker-run.sh
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/create/page.tsx
  apps/web/src/app/buttons/page.test.tsx
  apps/web/src/app/buttons/page.tsx
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
  apps/web/src/components/AudioReferenceCard.test.tsx
  apps/web/src/components/AudioReferenceCreator.test.tsx
  apps/web/src/components/AudioReferenceCreator.tsx
  apps/web/src/components/PerformanceMonitor.tsx
  apps/web/src/components/YouTubePlayer.test.tsx
  apps/web/test-results/.last-run.json
  packages/shared-types/src/audio-reference.ts
  terraform/firestore_rules.tf
Due: check, typecheck, test

style: apply automated linting fixes and code formatting
  apps/web/e2e/audio-reference.spec.ts
  apps/web/e2e/videos.spec.ts
  apps/web/src/app/admin/videos/actions.test.ts
  apps/web/src/app/admin/videos/actions.ts
  apps/web/src/app/admin/videos/components/VideoDetail.tsx
  apps/web/src/app/admin/videos/components/VideoList.tsx
  apps/web/src/app/admin/works/actions.ts
  apps/web/src/app/admin/works/components/WorkDetail.tsx
  apps/web/src/app/admin/works/components/WorkList.tsx
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/create/page.tsx
  apps/web/src/app/buttons/page.test.tsx
  apps/web/src/app/buttons/page.tsx
  apps/web/src/app/videos/[videoId]/components/VideoDetail.tsx
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/app/videos/components/VideoList.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/actions.ts
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/app/works/components/WorkList.tsx
  apps/web/src/components/AudioReferenceCard.test.tsx
  apps/web/src/components/AudioReferenceCard.tsx
  apps/web/src/components/AudioReferenceCreator.test.tsx
  apps/web/src/components/AudioReferenceCreator.tsx
  apps/web/src/components/YouTubePlayer.test.tsx
  apps/web/src/components/YouTubePlayer.tsx
  apps/web/test-results/.last-run.json
  apps/web/vitest.setup.ts
Due: check, typecheck, test

docs: update Phase 2 completion status in TODO and AUDIO_BUTTON_DESIGN
  docs/AUDIO_BUTTON_DESIGN.md
  docs/TODO.md
Due: none

release: bump version to 0.1.6
  docs/CHANGELOG.md
  package.json
Due: check

fix: update GitHub Actions workflows to fix Node.js setup issues
  .github/workflows/deploy-cloud-run.yml
  .github/workflows/deploy-functions.yml
  .github/workflows/security-scan.yml
Due: none

fix: resolve pnpm PATH issues in GitHub Actions workflows
  .github/workflows/deploy-cloud-run.yml
  .github/workflows/security-scan.yml
Due: none

fix: disable custom CodeQL workflow to avoid conflict with default setup
  .github/workflows/security-scan.yml
Due: none

fix: resolve Docker COPY error for apps/web/public directory
  apps/web/Dockerfile
  apps/web/public/.gitkeep
Due: none

fix: resolve yarn configuration conflict in Cloud Run deployment
  .github/workflows/deploy-cloud-run.yml
  apps/web/Dockerfile
  package.json
Due: check

fix: update packageManager to available pnpm version 10.0.0
  package.json
Due: check

fix: resolve pnpm version conflict in GitHub Actions workflows
  .github/workflows/deploy-cloud-run.yml
  .github/workflows/deploy-functions.yml
  .github/workflows/security-scan.yml
Due: none

fix: remove invalid npm config command in Cloud Run deployment
  .github/workflows/deploy-cloud-run.yml
Due: none

fix: temporarily disable lint check in Cloud Run deployment
  .github/workflows/deploy-cloud-run.yml
  biome.json
Due: check

fix: update Cloud Run deployment workflow to use Workload Identity Provider
  .github/workflows/deploy-cloud-run.yml
  terraform/logging.tf
Due: none

feat: update all dependencies to latest versions
  apps/web/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: check

fix: remove README.md
  docs/README.md
Due: none

fix: standardize Cloud Run port configuration to 8080
  .github/workflows/deploy-cloud-run.yml
  terraform/cloud_run.tf
Due: none

fix: improve Cloud Run deployment with explicit IAM policy setup
  .github/workflows/deploy-cloud-run.yml
Due: none

feat: enhance Cloud Run IAM policy management with dual API support
  .github/workflows/deploy-cloud-run.yml
  terraform/cloud_run.tf
Due: none

fix: resolve terraform configuration issues for suzumina-click-firebase deployment
  terraform/cloud_run.tf
  terraform/logging.tf
  terraform/monitoring_performance.tf
  terraform/variables.tf
Due: none

fix: correct Cloud Run startup probe timeout configuration
  terraform/cloud_run.tf
Due: none

feat: implement 2-environment architecture with cost optimization
  docs/AUDIO_BUTTON_DESIGN.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/ENVIRONMENT.md
  docs/FIRESTORE_STRUCTURE.md
  docs/INFRASTRUCTURE_ARCHITECTURE.md
  docs/LIGHTWEIGHT_INFRASTRUCTURE_DESIGN.md
  docs/POLICY.md
  docs/RELEASE_PROCESS.md
  docs/TODO.md
  terraform/README.md
  terraform/artifact_registry.tf
  terraform/backend.tf
  terraform/billing.tf
  terraform/cloud_run.tf
  terraform/dns.tf
  terraform/function_common.tf
  terraform/function_deployment_storage.tf
  terraform/function_dlsite_works.tf
  terraform/function_youtube_videos.tf
  terraform/gcs.tf
  terraform/locals.tf
  terraform/monitoring.tf
  terraform/network.tf
  terraform/providers.tf
  terraform/secrets.tf
  terraform/storage.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

fix: replace Firestore count() query with select() for total video count
  apps/web/src/app/videos/actions.ts
Due: check, typecheck, test

fix: update Cloud Run workflow to use secrets instead of hardcoded project ID
  .github/workflows/deploy-cloud-run.yml
Due: none

feat: comprehensive infrastructure and configuration updates
  .dockerignore
  .gitignore
  CLAUDE.md
  docs/AUDIO_BUTTON_DESIGN.md
  docs/CHANGELOG.md
  docs/FIRESTORE_STRUCTURE.md
  docs/INFRASTRUCTURE_ARCHITECTURE.md
  docs/RELEASE_PROCESS.md
  docs/TODO.md
  mise.toml
  terraform/.terraform.lock.hcl
  terraform/api_services.tf
  terraform/billing.tf
  terraform/cloud_run.tf
  terraform/dns.tf
  terraform/firestore_rules.tf
  terraform/function_dlsite_works.tf
  terraform/function_youtube_videos.tf
  terraform/iam.tf
  terraform/locals.tf
  terraform/monitoring_audio.tf
  terraform/network.tf
  terraform/storage.tf
  terraform/variables.tf
Due: none

fix: correct Artifact Registry repository name in Cloud Run workflow
  .github/workflows/deploy-cloud-run.yml
Due: none

feat: finalize infrastructure configuration with complete API enablement and IAM permissions
  terraform/.terraform.lock.hcl
  terraform/api_services.tf
  terraform/billing.tf
  terraform/firestore_indexes.tf
  terraform/function_common.tf
  terraform/function_dlsite_works.tf
  terraform/function_youtube_videos.tf
  terraform/iam.tf
Due: none

security: fix project ID hardcoding and improve security practices
  CLAUDE.md
  apps/web/DEPLOYMENT.md
  apps/web/cloud-run.yaml
  apps/web/scripts/docker-run.sh
  apps/web/src/lib/firestore.test.ts
  apps/web/src/lib/firestore.ts
  docs/INFRASTRUCTURE_ARCHITECTURE.md
  docs/POLICY.md
  docs/RELEASE_PROCESS.md
  scripts/deploy-cloud-run.sh
  terraform/README.md
Due: check, typecheck, test

fix: add Artifact Registry cleanup permissions for GitHub Actions
  terraform/iam.tf
Due: none

fix: change pages per execution of DLsite fetch
  apps/functions/src/dlsite.ts
Due: check, typecheck, test

fix: make Firestore project ID configurable via environment variable
  apps/web/src/lib/firestore.test.ts
  apps/web/src/lib/firestore.ts
Due: check, typecheck, test

Add detailed logging to homepage Server Actions for debugging carousel issue
  apps/web/src/app/actions.ts
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/works/actions.ts
  debug-homepage.js
Due: check, typecheck, test

Fix homepage carousel issue by forcing dynamic rendering
  apps/web/src/app/page.tsx
Due: check, typecheck, test

test: add comprehensive test suite for all major components
  CLAUDE.md
  apps/web/src/app/actions.test.ts
  apps/web/src/app/videos/actions.test.ts
  apps/web/src/components/SearchForm.test.tsx
  apps/web/src/components/SiteFooter.test.tsx
  apps/web/src/components/SiteHeader.test.tsx
  apps/web/src/components/ThumbnailImage.test.tsx
  apps/web/src/components/YouTubePlayer.test.tsx
  debug-homepage.js
  packages/shared-types/src/audio-reference.test.ts
  packages/shared-types/src/common.test.ts
  packages/shared-types/src/video.test.ts
  packages/shared-types/src/work.test.ts
  vitest.config.ts
  vitest.workspace.ts
Due: check, typecheck, test

feat: implement Discord guild-based authentication system
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/auth/guild/verify/route.ts
  apps/web/src/app/auth/actions.ts
  apps/web/src/app/auth/error/page.tsx
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/buttons/actions.ts
  apps/web/src/auth.ts
  apps/web/src/components/AuthButton.tsx
  apps/web/src/components/MobileMenu.tsx
  apps/web/src/components/ProtectedRoute.tsx
  apps/web/src/components/SessionProvider.tsx
  apps/web/src/components/SiteHeader.tsx
  apps/web/src/components/UserAvatar.tsx
  apps/web/src/components/UserProfile.tsx
  apps/web/src/lib/user-firestore.ts
  packages/shared-types/src/audio-reference-utils.ts
  packages/shared-types/src/audio-reference.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/user.ts
  pnpm-lock.yaml
  terraform/AUTH_DEPLOYMENT_GUIDE.md
  terraform/cloud_run.tf
  terraform/firestore_indexes.tf
  terraform/firestore_rules.tf
  terraform/secrets_auth.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: check, typecheck, test

fix: update tests for user authentication changes
  apps/functions/src/dlsite.test.ts
  apps/functions/src/utils/dlsite-firestore.test.ts
  apps/functions/src/utils/dlsite-mapper.test.ts
  apps/functions/src/utils/dlsite-parser.test.ts
  apps/functions/src/utils/youtube-api.test.ts
  apps/functions/src/youtube.test.ts
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/auth/guild/verify/route.ts
  apps/web/src/app/auth/actions.ts
  apps/web/src/app/auth/error/page.tsx
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/buttons/actions.ts
  apps/web/src/auth.ts
  apps/web/src/components/AudioReferenceCard.test.tsx
  apps/web/src/components/AudioReferenceCreator.tsx
  apps/web/src/components/AuthButton.tsx
  apps/web/src/components/MobileMenu.tsx
  apps/web/src/components/PerformanceMonitor.tsx
  apps/web/src/components/ProtectedRoute.tsx
  apps/web/src/components/SessionProvider.tsx
  apps/web/src/components/SiteHeader.tsx
  apps/web/src/components/UserAvatar.tsx
  apps/web/src/components/UserProfile.tsx
  apps/web/src/lib/user-firestore.ts
  packages/shared-types/src/audio-reference-utils.ts
  packages/shared-types/src/audio-reference.test.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/user.ts
  packages/shared-types/src/video.test.ts
  packages/shared-types/src/work.test.ts
Due: check, typecheck, test

docs: reorganize and update documentation with Discord auth integration
  CLAUDE.md
  apps/functions/src/youtube.test.ts
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/components/SiteHeader.test.tsx
  docs/CHANGELOG.md
  docs/DEVELOPMENT.md
  docs/QUICK-REFERENCE.md
  docs/README.md
  docs/TODO.md
Due: check, typecheck, test

fix: add null checks for user.id in auth.ts NextAuth callbacks
  apps/web/src/auth.ts
Due: check, typecheck, test

fix: resolve TypeScript compilation errors in auth.ts for Cloud Run deployment
  apps/web/src/auth.ts
Due: check, typecheck, test

fix: resolve critical TypeScript compilation errors in auth.ts
  apps/web/src/auth.ts
Due: check, typecheck, test
