Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck, test

lefthook.yml:

pre-commit:
  commands:
    # 1. コードフォーマット・リント (Biome)
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. TypeScript型チェック
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 関連テストの実行
    test:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm test --run --reporter=verbose --passWithNoTests
      fail_text: "テストが失敗しました"
      skip: true  # 必要に応じてコメントアウト
    
    # 4. セキュリティ監査 (週1回程度で十分な場合はskip: trueにする)
    audit:
      run: pnpm audit --audit-level moderate
      fail_text: "セキュリティ脆弱性が検出されました"
      skip: true  # 必要に応じてコメントアウト

pre-push:
  commands:
    # プッシュ前の最終チェック
    final-check:
      run: pnpm check && pnpm test:coverage
      fail_text: "最終チェックに失敗しました"
    
    # 共有型のビルド確認
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"

fix: add missing security-logger.ts and fix dependencies
  .gitignore
  apps/web/src/lib/security-logger.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: check, typecheck, test

fix: update dynamic route pages for Next.js 15 params Promise
  apps/web/src/app/admin/buttons/[id]/page.tsx
  apps/web/src/app/admin/contacts/[id]/page.tsx
Due: check, typecheck, test

fix: update searchParams to Promise in admin pages for Next.js 15
  apps/web/src/app/admin/buttons/page.tsx
  apps/web/src/app/admin/contacts/page.tsx
Due: check, typecheck, test

feat: implement admin role setup functionality
  apps/web/.env.example
  apps/web/scripts/README.md
  apps/web/scripts/setup-admin.ts
  apps/web/src/env.d.ts
  apps/web/src/lib/user-firestore.ts
Due: check, typecheck, test

refactor: replace Firebase Admin SDK with @google-cloud/firestore
  apps/functions/src/utils/dlsite-firestore.ts
  apps/web/src/app/admin/videos/actions.ts
  apps/web/src/app/videos/actions.ts
  apps/web/src/lib/firestore-admin.ts
  scripts/fix-audio-button-ids.js
  scripts/package.json
Due: check, typecheck, test

chore: update all dependencies to latest versions
  apps/web/package.json
  pnpm-lock.yaml
Due: check

chore: update @biomejs/biome to 2.0.6
  package.json
  pnpm-lock.yaml
Due: check

refactor: fix linting errors and reduce warnings
  apps/functions/src/fix-audio-button-ids.ts
  apps/web/src/app/admin/buttons/page.tsx
  apps/web/src/app/admin/contacts/page.tsx
  apps/web/src/app/admin/users/page.tsx
  apps/web/src/app/admin/videos/page.tsx
  apps/web/src/app/admin/works/page.tsx
  apps/web/src/app/layout.tsx
  packages/shared-types/src/audio-button.ts
Due: check, typecheck, test

refactor: standardize lint commands across all packages
  apps/functions/package.json
  packages/shared-types/package.json
  packages/ui/biome.json
  packages/ui/package.json
  packages/ui/src/components/custom/audio-only-player.tsx
  packages/ui/src/components/custom/list-page-layout.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
  packages/ui/src/components/custom/youtube-player.tsx
Due: check, typecheck, test

docs: update project documentation to reflect v0.2.2 improvements
  CLAUDE.md
  docs/CHANGELOG.md
  docs/DEVELOPMENT.md
  docs/QUICK-REFERENCE.md
  docs/TODO.md
  docs/V0_MOCK_FEATURE_ANALYSIS.md
Due: none

fix: resolve admin authentication issues and enhance JWT token security
  apps/web/src/auth.ts
  apps/web/src/middleware.ts
Due: check, typecheck, test

feat: implement comprehensive user profile system with privacy controls
  apps/web/src/app/users/[userId]/components/UserProfileContent.tsx
  apps/web/src/app/users/[userId]/error.tsx
  apps/web/src/app/users/[userId]/loading.tsx
  apps/web/src/app/users/[userId]/not-found.tsx
  apps/web/src/app/users/[userId]/page.tsx
  apps/web/src/app/users/me/page.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  docs/AUDIO_BUTTON_UX_IMPROVEMENT_PLAN.md
  docs/TODO.md
  docs/V0_MOCK_FEATURE_ANALYSIS.md
Due: check, typecheck, test

fix: update user profile params to Promise for Next.js 15 compatibility
  apps/web/src/app/users/[userId]/page.tsx
Due: check, typecheck, test

debug: add temporary logging for user profile loading issues
  apps/web/src/app/users/[userId]/page.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  apps/web/src/lib/user-firestore.ts
Due: check, typecheck, test

debug: add comprehensive logging for user profile issues
  apps/web/src/app/users/[userId]/page.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  apps/web/src/lib/user-firestore.ts
Due: check, typecheck, test

refactor: clean up debug logs and restore user profile sorting functionality
  apps/web/src/app/users/[userId]/page.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  apps/web/src/lib/user-firestore.ts
  terraform/firestore_indexes.tf
Due: check, typecheck, test

feat: implement comprehensive favorites system for audio buttons
  packages/ui/src/components/custom/simple-audio-button.test.tsx
Due: check, typecheck, test

chore: update Firestore index configuration for favorites
  terraform/firestore_indexes.tf
Due: none

feat: implement comprehensive favorites system for audio buttons
  apps/web/src/actions/favorites.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/favorites/components/FavoritesList.tsx
  apps/web/src/app/favorites/page.tsx
  apps/web/src/app/users/[userId]/components/UserProfileContent.tsx
  apps/web/src/app/users/[userId]/page.tsx
  apps/web/src/components/AudioButtonWithFavorite.tsx
  apps/web/src/components/AudioButtonWithFavoriteClient.tsx
  apps/web/src/components/FavoriteButton.tsx
  apps/web/src/components/FavoriteButtonWrapper.tsx
  apps/web/src/components/MobileMenu.tsx
  apps/web/src/components/SiteHeader.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
  apps/web/src/lib/favorites-firestore.ts
  packages/shared-types/src/audio-button.ts
  packages/shared-types/src/favorite.ts
  packages/shared-types/src/index.ts
Due: check, typecheck, test

fix: resolve /buttons page error and update documentation
  CLAUDE.md
  apps/web/src/actions/favorites.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/components/FavoriteButton.tsx
Due: check, typecheck, test

fix: add SessionProvider and Toaster to root layout
  apps/web/src/app/api/audio-buttons/route.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/SessionProvider.tsx
Due: check, typecheck, test

fix: resolve admin access and favorites UI improvements
  apps/web/src/auth.ts
  apps/web/src/components/SiteHeader.tsx
  apps/web/src/components/UserMenu.tsx
  terraform/cloud_run.tf
  terraform/secrets_auth.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: check, typecheck, test

fix: resolve lint errors and improve code quality
  apps/web/src/app/api/audio-buttons/route.ts
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/favorites/page.tsx
  apps/web/src/lib/favorites-firestore.ts
Due: check, typecheck, test

fix: update category filter options to match AudioButtonCategory schema
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
Due: check, typecheck, test

fix: handle null categories in existing audio buttons
  apps/web/src/app/admin/buttons/[id]/components/ButtonDetailHeader.tsx
  apps/web/src/app/admin/buttons/components/ButtonList.tsx
  apps/web/src/app/api/audio-buttons/route.ts
  apps/web/src/app/buttons/[id]/page.tsx
Due: check, typecheck, test

feat: implement audio button deletion functionality
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.ts
  apps/web/src/components/AudioButtonDeleteButton.tsx
  apps/web/src/components/AudioButtonWithFavoriteClient.tsx
  apps/web/src/components/DeleteConfirmDialog.tsx
  apps/web/src/lib/firestore-admin.ts
Due: check, typecheck, test

fix: complete category system removal and TypeScript errors
  apps/web/src/app/admin/buttons/[id]/components/ButtonDetailHeader.tsx
  apps/web/src/app/admin/buttons/[id]/components/ButtonSidebar.tsx
  apps/web/src/app/admin/buttons/components/ButtonList.tsx
  apps/web/src/app/api/audio-buttons/route.ts
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/components/AudioButtonCreator.tsx
  apps/web/src/lib/audio-buttons-firestore.ts
Due: check, typecheck, test

feat: redesign audio button pages with v0 mock-inspired design and navigation
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/app/buttons/components/AudioButtonsList.tsx
  apps/web/src/app/buttons/page.tsx
  apps/web/src/app/favorites/page.tsx
  apps/web/src/components/AudioButtonWithFavoriteClient.tsx
Due: check, typecheck, test

fix: resolve TypeScript compilation errors by removing category references from tests
  apps/web/src/app/buttons/actions.test.ts
Due: check, typecheck, test

feat: complete category system removal from shared-types and UI packages
  packages/shared-types/src/audio-button.ts
  packages/ui/src/components/custom/simple-audio-button.test.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: check, typecheck, test

fix: improve deleteAudioButton error handling and debugging
  apps/web/src/app/buttons/actions.test.ts
  apps/web/src/app/buttons/actions.ts
Due: check, typecheck, test

feat: integrate favorite and delete actions into SimpleAudioButton dropdown menu
  apps/web/src/components/AudioButtonWithFavoriteClient.tsx
  packages/ui/src/components/custom/simple-audio-button.test.tsx
  packages/ui/src/components/custom/simple-audio-button.tsx
Due: check, typecheck, test

fix: resolve Cloud Functions css-what module resolution issue
  apps/functions/package.json
  pnpm-lock.yaml
  terraform/function_dlsite_works.tf
Due: check

experiment: test cheerio 1.1.0 with Node.js 22 in Cloud Functions
  apps/functions/package.json
Due: check

fix: update lock file and terraform config for cheerio 1.1.0 + Node.js 22
  pnpm-lock.yaml
  terraform/function_dlsite_works.tf
Due: none

fix: update integration tests for SimpleAudioButton menu changes
  apps/web/src/__tests__/integration/basicComponentRendering.test.tsx
Due: check, typecheck, test

fix: package update only
  pnpm-lock.yaml
Due: none

fix: stabilize Node.js 22 + cheerio 1.0.0 configuration
  apps/functions/package.json
  apps/functions/src/utils/dlsite-parser.ts
  apps/functions/vitest.config.ts
Due: check, typecheck, test

fix: resolve majority of TypeScript errors in functions package
  apps/functions/src/utils/dlsite-parser.ts
  apps/functions/src/utils/youtube-firestore.ts
  apps/functions/tsconfig.json
Due: check, typecheck, test

feat: complete TypeScript error resolution and ThumbnailImage improvements
  apps/functions/package.json
  apps/functions/src/types/external-modules.d.ts
  apps/functions/tsconfig.json
Due: check, typecheck, test
