Repository nothink-jp/suzumina.click: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, typecheck-incremental

lefthook.yml:

# 開発フロー重視のlefthook設定

pre-commit:
  commands:
    # 1. コードフォーマット・リント（自動修正付き）
    format-and-lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      fail_text: "コードフォーマット・リントに失敗しました"
    
    # 2. 型チェック（変更ファイルに影響する範囲のみ）
    typecheck-incremental:
      glob: "*.{ts,tsx}"
      run: pnpm --filter @suzumina.click/shared-types typecheck
      fail_text: "型チェックに失敗しました"

pre-push:
  commands:
    # 1. 共有型のビルド確認（依存関係の整合性保証）
    build-shared-types:
      run: pnpm --filter @suzumina.click/shared-types build
      fail_text: "共有型のビルドに失敗しました"
    
    # 2. 全体の型チェック（プッシュ前の品質保証）
    typecheck-all:
      run: pnpm typecheck
      fail_text: "TypeScript型チェックに失敗しました"
    
    # 3. 基本テスト（shared-typesのみ - 最重要）
    test-shared-types:
      run: pnpm --filter @suzumina.click/shared-types test
      fail_text: "共有型のテストに失敗しました"

feat: improve UX by hiding button creation for premiere videos
  apps/web/src/app/videos/components/VideoCard.test.tsx
  apps/web/src/app/videos/components/VideoCard.tsx
Due: format-and-lint, typecheck-incremental

feat: add video category filter to videos list page
  apps/web/src/app/videos/components/VideoList.test.tsx
  apps/web/src/app/videos/components/VideoList.tsx
Due: format-and-lint, typecheck-incremental

feat: add video category filter for games and entertainment
  terraform/firestore_indexes.tf
Due: none

feat: implement 15-minute threshold for video type classification
  apps/web/src/app/videos/actions.ts
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/app/videos/components/VideoList.test.tsx
  apps/web/src/app/videos/components/VideoList.tsx
  apps/web/src/app/videos/page.tsx
  docs/UBIQUITOUS_LANGUAGE.md
  docs/YOUTUBE_VIDEO_CLASSIFICATION.md
  terraform/firestore_indexes.tf
Due: format-and-lint, typecheck-incremental

fix: prevent userTags from being overwritten during YouTube data collection
  apps/functions/src/services/youtube/youtube-firestore.test.ts
  apps/functions/src/services/youtube/youtube-firestore.ts
Due: format-and-lint, typecheck-incremental

feat: improve tag system UX and fix YouTube API tests
  apps/functions/src/endpoints/youtube.test.ts
  apps/web/src/app/videos/[videoId]/components/VideoUserTagEditor.tsx
  packages/ui/src/components/custom/three-layer-tag-display.tsx
Due: format-and-lint, typecheck-incremental

feat: improve video tag display UX with compact layout and user-friendly terminology
  apps/web/src/app/videos/[videoId]/components/VideoUserTagEditor.tsx
  apps/web/src/app/videos/components/VideoCard.tsx
  packages/ui/src/components/custom/three-layer-tag-display.tsx
  packages/ui/src/components/custom/user-tag-editor.tsx
Due: format-and-lint, typecheck-incremental

data: update DLsite work collection with new work RJ01420141
  apps/functions/src/assets/dlsite-work-ids.json
Due: format-and-lint

feat: standardize tag system limits and improve code quality
  apps/web/src/actions/user-tags.ts
  apps/web/src/app/buttons/[id]/page.tsx
  apps/web/src/app/buttons/actions.ts
  apps/web/src/app/videos/[videoId]/components/VideoUserTagEditor.tsx
  apps/web/src/components/audio/audio-button-creator.tsx
  apps/web/src/components/audio/audio-button-tag-editor-detail.test.tsx
  apps/web/src/components/audio/audio-button-tag-editor-detail.tsx
  apps/web/src/components/audio/audio-button-tag-editor.test.tsx
  apps/web/src/components/audio/audio-button-tag-editor.tsx
  apps/web/src/components/video/video-tag-editor.tsx
  apps/web/vitest.setup.ts
  docs/FIRESTORE_STRUCTURE.md
  docs/UBIQUITOUS_LANGUAGE.md
  packages/shared-types/src/audio-button.ts
  packages/shared-types/src/video.ts
  packages/ui/src/components/custom/audio-button.test.tsx
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/tag-input.stories.tsx
  packages/ui/src/components/custom/tag-input.test.tsx
  packages/ui/src/components/custom/tag-input.tsx
Due: format-and-lint, typecheck-incremental

feat: implement comprehensive tag autocompletion system
  apps/web/src/components/audio/audio-button-creator.test.tsx
  apps/web/src/components/audio/audio-button-tag-editor-detail.test.tsx
  apps/web/src/components/audio/audio-button-tag-editor-detail.tsx
  apps/web/src/components/audio/audio-button-tag-editor.test.tsx
  apps/web/src/components/audio/audio-button-tag-editor.tsx
  apps/web/src/components/video/video-tag-editor.test.tsx
  apps/web/src/components/video/video-tag-editor.tsx
  apps/web/vitest.setup.ts
  packages/ui/src/components/custom/index.ts
  packages/ui/src/components/custom/tag-input.stories.tsx
  packages/ui/src/components/custom/tag-input.tsx
Due: format-and-lint, typecheck-incremental

refactor: complete AudioButtonCreator architecture overhaul with comprehensive testing
  apps/web/src/app/buttons/create/page.tsx
  apps/web/src/components/audio/audio-button-creator.test.tsx
  apps/web/src/components/audio/audio-button-creator.tsx
  apps/web/src/components/audio/basic-info-panel.test.tsx
  apps/web/src/components/audio/basic-info-panel.tsx
  apps/web/src/components/audio/debug-panel.test.tsx
  apps/web/src/components/audio/debug-panel.tsx
  apps/web/src/components/audio/micro-adjustment-buttons.tsx
  apps/web/src/components/audio/time-control-panel.test.tsx
  apps/web/src/components/audio/time-control-panel.tsx
  apps/web/src/components/audio/time-input-field.tsx
  apps/web/src/components/audio/usage-guide.tsx
  apps/web/src/hooks/use-time-adjustment.test.ts
  apps/web/src/hooks/use-time-adjustment.ts
Due: format-and-lint, typecheck-incremental

fix: remove unused variables in useTimeAdjustment tests
  apps/web/src/hooks/use-time-adjustment.test.ts
Due: format-and-lint, typecheck-incremental

refactor: additional code quality improvements from lint fixes
  apps/web/src/components/audio-button-detail/related-audio-buttons.tsx
  apps/web/src/components/audio/audio-button-editor.tsx
  apps/web/src/components/audio/time-input-field.tsx
  apps/web/src/components/consent/consent-mode-script.tsx
  apps/web/src/hooks/use-audio-button-editor.ts
  apps/web/src/hooks/use-time-actions.ts
  apps/web/src/hooks/use-youtube-player-manager.ts
Due: format-and-lint, typecheck-incremental

feat: implement authentication-based button disabling for audio buttons
  apps/web/src/components/audio/audio-button-with-favorite-client.tsx
  packages/ui/src/components/custom/audio-button.stories.tsx
  packages/ui/src/components/custom/audio-button.test.tsx
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/custom/progressive-audio-button-list.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.tsx
Due: format-and-lint, typecheck-incremental

release: prepare v0.3.4 with authentication-based UX improvements
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/test-utils/README.md
Due: format-and-lint

docs: complete v0.3.4 release documentation updates
  CHANGELOG.md
  CLAUDE.md
  README.md
  apps/admin/package.json
  apps/functions/package.json
  apps/web/package.json
  docs/README.md
  docs/archive/README.md
  docs/archive/YOUTUBE_VIDEO_CLASSIFICATION_ARCHIVED.md
  package.json
  packages/shared-types/package.json
  packages/typescript-config/package.json
Due: format-and-lint

update: DLsite work IDs collection and performance monitoring configuration
  apps/functions/src/assets/dlsite-work-ids.json
  terraform/monitoring_performance.tf
Due: format-and-lint

feat: complete Storybook story organization and test coverage improvements
  packages/ui/src/components/custom/advanced-filter-panel.stories.tsx
  packages/ui/src/components/custom/audio-button-preview.stories.tsx
  packages/ui/src/components/custom/audio-button-skeleton.stories.tsx
  packages/ui/src/components/custom/audio-button.stories.tsx
  packages/ui/src/components/custom/audio-player.stories.tsx
  packages/ui/src/components/custom/autocomplete-dropdown.stories.tsx
  packages/ui/src/components/custom/date-range-filter.stories.tsx
  packages/ui/src/components/custom/generic-carousel.stories.tsx
  packages/ui/src/components/custom/highlight-text.stories.tsx
  packages/ui/src/components/custom/list-display-controls.stories.tsx
  packages/ui/src/components/custom/list-header.stories.tsx
  packages/ui/src/components/custom/list-page-layout.stories.tsx
  packages/ui/src/components/custom/loading-skeleton.stories.tsx
  packages/ui/src/components/custom/not-implemented-overlay.stories.tsx
  packages/ui/src/components/custom/numeric-range-filter.stories.tsx
  packages/ui/src/components/custom/progressive-audio-button-list.stories.tsx
  packages/ui/src/components/custom/search-and-filter-panel.stories.tsx
  packages/ui/src/components/custom/search-filter-panel.stories.tsx
  packages/ui/src/components/custom/tag-input.stories.tsx
  packages/ui/src/components/custom/tag-list.stories.tsx
  packages/ui/src/components/custom/tag-list.test.tsx
  packages/ui/src/components/custom/three-layer-tag-display.stories.tsx
  packages/ui/src/components/custom/three-layer-tag-display.test.tsx
  packages/ui/src/components/custom/time-display.stories.tsx
  packages/ui/src/components/custom/validation-message.stories.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.stories.tsx
  packages/ui/src/components/custom/youtube-api-manager.test.ts
  packages/ui/src/components/custom/youtube-player.stories.tsx
Due: format-and-lint, typecheck-incremental

feat: complete comprehensive design token unification across UI components
  apps/web/src/components/search/autocomplete-dropdown.test.tsx
  packages/ui/src/components/custom/audio-button-preview.tsx
  packages/ui/src/components/custom/audio-button.tsx
  packages/ui/src/components/custom/autocomplete-dropdown.tsx
  packages/ui/src/components/custom/highlight-text.tsx
  packages/ui/src/components/custom/large-dataset-integration-test.tsx
  packages/ui/src/components/custom/list-page-layout.test.tsx
  packages/ui/src/components/custom/list-page-layout.tsx
  packages/ui/src/components/custom/loading-skeleton.test.tsx
  packages/ui/src/components/custom/loading-skeleton.tsx
  packages/ui/src/components/custom/not-implemented-overlay.test.tsx
  packages/ui/src/components/custom/not-implemented-overlay.tsx
  packages/ui/src/components/custom/progressive-audio-button-list.tsx
  packages/ui/src/components/custom/search-filter-panel.tsx
  packages/ui/src/components/custom/tag-list.tsx
  packages/ui/src/components/custom/three-layer-tag-display.test.tsx
  packages/ui/src/components/custom/three-layer-tag-display.tsx
  packages/ui/src/components/custom/validation-message.test.tsx
  packages/ui/src/components/custom/validation-message.tsx
  packages/ui/src/components/custom/virtualized-audio-button-list.tsx
  packages/ui/src/components/custom/youtube-api-manager.test.ts
  packages/ui/src/components/custom/youtube-player.tsx
  packages/ui/src/components/ui/badge.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/drawer.tsx
  packages/ui/src/components/ui/menubar.tsx
  packages/ui/src/components/ui/resizable.tsx
  packages/ui/src/components/ui/sheet.tsx
  packages/ui/src/components/ui/sidebar.tsx
  packages/ui/src/components/ui/switch.tsx
  packages/ui/src/components/ui/tabs.tsx
  packages/ui/src/styles/globals.css
Due: format-and-lint, typecheck-incremental

feat: complete admin design token integration and shared-types test coverage
  apps/web/src/app/contact/page.tsx
  apps/web/src/app/privacy/page.tsx
  apps/web/src/app/terms/page.tsx
  apps/web/src/app/users/[userId]/page.tsx
  apps/web/src/app/videos/components/VideoCard.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/components/audio/like-button.tsx
  apps/web/src/components/audio/like-dislike-buttons.tsx
  apps/web/src/components/audio/micro-adjustment-buttons.tsx
  apps/web/src/components/consent/age-verification-gate.tsx
  apps/web/src/components/consent/cookie-consent-banner.tsx
  apps/web/src/components/consent/cookie-preferences-panel.tsx
  apps/web/src/components/content/characteristic-evaluation.tsx
  apps/web/src/components/layout/home-page.tsx
  apps/web/src/components/search/autocomplete-dropdown.tsx
  apps/web/src/components/search/search-filters.tsx
  apps/web/src/components/user/auth-button.tsx
  apps/web/src/components/video/video-tag-editor.tsx
  apps/web/src/lib/audio-buttons-firestore.test.ts
  apps/web/src/lib/audio-buttons-firestore.ts
Due: format-and-lint, typecheck-incremental

refactor: complete remaining admin design token applications and documentation updates
  apps/admin/src/app/buttons/page.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/app/users/page.tsx
  apps/admin/src/app/videos/page.tsx
  apps/admin/src/app/works/page.tsx
  docs/FIRESTORE_STRUCTURE.md
  packages/shared-types/src/video.test.ts
  packages/ui/src/components/custom/audio-button.test.tsx
  packages/ui/src/components/custom/audio-button.tsx
  terraform/firestore_indexes.tf
Due: format-and-lint, typecheck-incremental

refactor: complete AdSense removal and non-profit operation transition
  apps/web/src/app/privacy/page.tsx
  apps/web/src/app/settings/components/SettingsPageContent.tsx
  apps/web/src/app/terms/page.tsx
  apps/web/src/components/consent/cookie-consent-banner.tsx
Due: format-and-lint, typecheck-incremental

feat: enhance language detection and filtering for DLsite works
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
  packages/shared-types/src/work-language-mapping.test.ts
  packages/shared-types/src/work.ts
Due: format-and-lint, typecheck-incremental

fix: correct pagination calculation for filtered results
  apps/web/src/app/works/components/WorkList.tsx
Due: format-and-lint, typecheck-incremental

feat: add comprehensive language and translation UI to work detail pages
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: format-and-lint, typecheck-incremental

refactor: improve component complexity and enhance UX
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkList.tsx
  apps/web/src/hooks/use-r18-filter.ts
  apps/web/src/hooks/use-work-list-filters.ts
Due: format-and-lint, typecheck-incremental

feat: add sample image gallery with modal display to work detail pages
  apps/web/src/app/works/[workId]/components/SampleImageGallery.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
Due: format-and-lint, typecheck-incremental

feat: implement price history tracking system with trend analysis
  apps/functions/src/assets/dlsite-work-ids.json
  apps/functions/src/development/core/local-complete-collector.ts
  apps/functions/src/endpoints/dlsite-individual-info-api.ts
  apps/functions/src/services/price-history/index.ts
  apps/functions/src/services/price-history/price-change-detector.ts
  apps/functions/src/services/price-history/price-extractor.test.ts
  apps/functions/src/services/price-history/price-extractor.ts
  apps/functions/src/services/price-history/price-history-saver.ts
  apps/web/package.json
  apps/web/src/actions/price-history.ts
  apps/web/src/app/works/[workId]/components/SampleImageGallery.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/components/price-history/price-history-chart.tsx
  apps/web/src/components/price-history/price-history.tsx
  apps/web/src/components/price-history/price-statistics.tsx
  apps/web/src/lib/price-history-utils.ts
  docs/PRICE_TREND_DESIGN.md
  packages/shared-types/src/index.ts
  packages/shared-types/src/price-history.ts
  pnpm-lock.yaml
Due: format-and-lint, typecheck-incremental

feat: complete price history system implementation with comprehensive documentation
  .gitignore
  CLAUDE.md
  apps/functions/src/assets/dlsite-work-ids.json
  apps/functions/src/development/core/price-data-fixer.ts
  apps/functions/src/development/core/price-data-quality-checker.ts
  apps/web/e2e/price-history.spec.ts
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  docs/CHANGELOG.md
  docs/DLSITE_API_ANALYSIS.md
  docs/FIRESTORE_STRUCTURE.md
  docs/UBIQUITOUS_LANGUAGE.md
  docs/archive/2025-07-price-history-implementation/PRICE_TREND_DESIGN.md
  terraform/firestore_indexes.tf
Due: format-and-lint, typecheck-incremental

feat: implement comprehensive DLsite work evaluation system
  apps/web/src/app/works/[workId]/components/SampleImageGallery.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/[workId]/components/evaluation-radio-group.tsx
  apps/web/src/app/works/[workId]/components/top10-rank-modal.tsx
  apps/web/src/app/works/[workId]/components/work-evaluation.test.tsx
  apps/web/src/app/works/[workId]/components/work-evaluation.tsx
  apps/web/src/app/works/[workId]/evaluation-actions.test.ts
  apps/web/src/app/works/[workId]/evaluation-actions.ts
  apps/web/src/app/works/[workId]/page.tsx
Due: format-and-lint, typecheck-incremental

feat: add comprehensive documentation and type definitions for evaluation system
  docs/FIRESTORE_STRUCTURE.md
  docs/WORK_EVALUATION_SYSTEM.md
  packages/shared-types/src/index.ts
  packages/shared-types/src/work-evaluation.ts
Due: format-and-lint, typecheck-incremental

chore: update DLsite work IDs collection timestamp
  apps/functions/src/assets/dlsite-work-ids.json
Due: format-and-lint

fix: resolve custom genres layout overflow and update test compatibility
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/[workId]/components/top10-rank-modal.tsx
  apps/web/src/app/works/[workId]/components/work-evaluation.test.tsx
  apps/web/src/app/works/[workId]/components/work-evaluation.tsx
  apps/web/src/app/works/[workId]/evaluation-actions.test.ts
  apps/web/src/app/works/[workId]/evaluation-actions.ts
Due: format-and-lint, typecheck-incremental

docs: archive WORK_EVALUATION_SYSTEM.md and update core documentation
  CLAUDE.md
  docs/FIRESTORE_STRUCTURE.md
  docs/UBIQUITOUS_LANGUAGE.md
  docs/archive/2025-07-work-evaluation-system/README.md
  docs/archive/2025-07-work-evaluation-system/WORK_EVALUATION_SYSTEM.md
Due: none

feat: implement circle and creator pages with navigation integration
  apps/web/src/app/circles/[circleId]/actions.test.ts
  apps/web/src/app/circles/[circleId]/actions.ts
  apps/web/src/app/circles/[circleId]/components/CirclePageClient.tsx
  apps/web/src/app/circles/[circleId]/page.test.tsx
  apps/web/src/app/circles/[circleId]/page.tsx
  apps/web/src/app/creators/[creatorId]/actions.test.ts
  apps/web/src/app/creators/[creatorId]/actions.ts
  apps/web/src/app/creators/[creatorId]/components/CreatorPageClient.tsx
  apps/web/src/app/creators/[creatorId]/page.test.tsx
  apps/web/src/app/creators/[creatorId]/page.tsx
  apps/web/src/app/works/[workId]/components/WorkDetail.tsx
  apps/web/src/app/works/components/WorkCard.tsx
  apps/web/src/app/works/components/WorkList.tsx
  apps/web/src/components/ui/pagination.tsx
Due: format-and-lint, typecheck-incremental

feat: add circle and creator data collection infrastructure
  apps/functions/src/assets/dlsite-work-ids.json
  apps/functions/src/development/core/local-complete-collector.ts
  apps/functions/src/services/dlsite/collect-circle-creator-info.test.ts
  apps/functions/src/services/dlsite/collect-circle-creator-info.ts
  apps/functions/src/services/dlsite/individual-info-to-work-mapper.ts
  apps/functions/tsconfig.json
  docs/CIRCLE_CREATOR_PAGES_DESIGN.md
  packages/shared-types/src/circle-creator.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/work.ts
  pnpm-lock.yaml
  terraform/firestore_indexes.tf
Due: format-and-lint, typecheck-incremental

chore: update dependencies to latest versions
  apps/functions/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: format-and-lint

chore: update electron-to-chromium to latest version
  pnpm-lock.yaml
Due: none

docs: archive completed circle/creator pages design and update documentation
  CLAUDE.md
  apps/functions/src/endpoints/dlsite-individual-info-api.ts
  docs/FIRESTORE_STRUCTURE.md
  docs/UBIQUITOUS_LANGUAGE.md
  docs/archive/2025-07-circle-creator-pages/CIRCLE_CREATOR_PAGES_DESIGN.md
  docs/archive/2025-07-circle-creator-pages/README.md
Due: format-and-lint, typecheck-incremental
